<div class="check-out container">
    <div class="user-information row col-6">
        <p class="title-page">MomShop Official Store</p>
        <div class="nav-page">
            <span class="text-cart">Giỏ hàng</span>
            <i class="fa-solid fa-greater-than"></i>
            <span>Thông tin giao hàng</span>
        </div>
        <div class="information-delivery">
            <div class="title-delivery mt-3">Thông tin giao hàng</div>
            <p class="sub-title mt-2">
                Bạn đã có tài khoản? <a class="text-login">Đăng nhập</a>
            </p>
            <form class="form-information col-12">
                <div class="row mb-3">
                    <div class="col-12">
                        <input type="text" placeholder="Họ và tên" class="col-12 input">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12 d-flex justify-content-between">
                        <input type="text" placeholder="Email" class="input email-input">
                        <input type="text" placeholder="Số điện thoại" class="input phone-input">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12">
                        <input type="text" placeholder="Địa chỉ" class="col-12 input">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12 d-flex justify-content-between">
                        <input type="text" placeholder="Quốc gia" class="input national-input">
                        <input type="text" placeholder="Tỉnh / thành" class="input province-input">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12 d-flex justify-content-between">
                        <input type="text" placeholder="Quận / huyện" class="input district-input">
                        <input type="text" placeholder="Phường / xã" class="input ward-input">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="title-delivery mt-3 mb-3">Phương thức vận chuyển</div>
                    <div class="col-12 d-flex justify-content-between delivery">
                        <div class="delivery-method d-flex">
                            <div class="block-delivery">
                                <i class="fa-solid fa-circle icon-delivery"></i>
                                <span class="text-delivery">Giao hàng tận nơi</span>
                            </div>
                            <span class="fee-delivery">0đ</span>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="title-delivery mt-3 mb-3">Phương thức thanh toán</div>
                    <div class="col-12 d-flex justify-content-between ">
                        <div class="payment d-flex">
                            <div class="payment-method d-flex">
                                <i class="fa-solid fa-circle icon-delivery"></i>
                                <span class="text-delivery">Thanh toán khi giao hàng (COD)</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-form d-flex justify-content-between align-items-center">
                    <a href="/cart" class="link-cart text-decoration-none">Giỏ hàng</a>
                    <button type="submit" class="btn-completed">Hoàn tất đơn hàng</button>
                </div>
            </form>
        </div>
    </div>
    <div class="order-information">
        <div class="product">
            <div class="detail-product">
                <img src="assets/" alt="">
                <div class="description">
                    <p class="name-product">KING CARD SHIRT</p>
                    <p class="size">M</p>
                </div>
            </div>
            <p class="price-product">1,2600,000đ</p>
        </div>
        <div class="row mb-3">
            <div class="col-12 d-flex justify-content-between">
                <input type="text" placeholder="Mã giảm giá" class="input input-sale-off">
                <button type="button" placeholder="Sử dụng" class="buttton-use"></button>
            </div>
        </div>
    </div>
</div>