<app-header></app-header>
<div class="layout-page text-right page-right mt-5">
    <div class="container mb-4">
        <div class="header-page text-center">
            <h1>ĐIỀU KHOẢN GIAO DỊCH CHUNG</h1>
        </div>
    </div>
    <div class="content-page mb-5">
        <div class="container">
            <p style="margin-top: 8px; margin-bottom: 8px"><span style="font-size:11pt"><span
                        style="background:white"><span style="line-height:150%"><span
                                style="vertical-align:baseline"><span style="font-family:Calibri,sans-serif"><b><span
                                            style="font-size:13.0pt"><span style="line-height:150%"><span
                                                    style="font-family:Times New Roman,serif"><span
                                                        style="color:black">1. Chính sách đổi trả, hoàn
                                                        tiền</span></span></span></span></b></span></span></span></span></span>
            </p>
            <p style="margin-top: 8px; margin-bottom: 8px"><span style="font-size:11pt"><span
                        style="background:white"><span style="line-height:150%"><span
                                style="vertical-align:baseline"><span style="font-family:Calibri,sans-serif"><span
                                        style="font-size:13.0pt"><span style="line-height:150%"><span
                                                style="font-family:Times New Roman,serif"><span
                                                    style="color:black">Quý khách có thể thực hiện bảo hành khi
                                                    sử dụng dịch vụ của website
                                                    <b>MomShop.vn</b></span></span></span></span></span></span></span></span></span>
            </p>
            <p style="margin-top: 8px; margin-bottom: 8px"><span style="font-size:11pt"><span
                        style="line-height:150%"><span style="font-family:Calibri,sans-serif"><span
                                style="font-size:13.0pt"><span style="line-height:150%"><span
                                        style="font-family:Times New Roman,serif">Quy trình bảo hành: Khi
                                        cần bảo hành, hỗ trợ dịch vụ, khách hàng sẽ liên hệ với các trung
                                        tâm bảo hành, hỗ trợ của chúng tôi. Các nhân viên chăm sóc khách hàng
                                        của chúng tôi sẽ tư vấn hỗ trợ khách hàng về quy trình bảo hành, hỗ
                                        trợ dịch vụ. Khi nhận được thông tin bảo hành của dịch vụ mà khách
                                        hàng yêu cầu, bộ phận kỹ thuật của </span></span></span><b><span
                                    style="font-size:13.0pt"><span style="line-height:150%"><span
                                            style="font-family:Times New Roman,serif">MomShop.vn
                                        </span></span></span></b><span style="font-size:13.0pt"><span
                                    style="line-height:150%"><span
                                        style="font-family:Times New Roman,serif">sẽ hỗ trợ khắc phục
                                        sự cố cho khách hàng trong vòng 24h qua điện thoại, email hoặc hỗ trợ
                                        trực tiếp qua teamviewer.</span></span></span></span></span></span></p>
            <p style="margin-top: 8px; margin-bottom: 8px"><span style="font-size:11pt"><span
                        style="line-height:150%"><span style="font-family:Calibri,sans-serif"><span
                                style="font-size:13.0pt"><span style="line-height:150%"><span
                                        style="font-family:Times New Roman,serif">Chúng tôi sẽ thực hiện các
                                        bước tiếp theo để kiểm&nbsp;tra chất lượng dịch vụ và tiến hành bảo hành
                                        hoặc hoàn tiền theo yêu cầu của quý
                                        khách.</span></span></span></span></span></span></p>
            <p style="margin-top: 8px; margin-bottom: 8px"><span style="font-size:11pt"><span
                        style="line-height:150%"><span style="font-family:Calibri,sans-serif"><span
                                style="font-size:13.0pt"><span style="line-height:150%"><span
                                        style="font-family:Times New Roman,serif">Chúng tôi sẽ hoàn trả tiền
                                        cho khách hàng theo hình thức khách hàng thanh
                                        toán.</span></span></span></span></span></span></p>
            <ul>
                <li style="list-style-type:none">
                    <ul>
                        <li style="list-style-type:none">
                            <ul>
                                <li style="list-style-type:none">
                                    <ul>
                                        <li style="list-style-type:none">
                                            <ul>
                                                <li style="margin-top: 8px; margin-bottom: 8px">
                                                    <span style="font-size:11pt"><span style="line-height:150%"><span
                                                                style="font-family:Calibri,sans-serif"><span
                                                                    style="font-size:13.0pt"><span
                                                                        style="line-height:150%"><span
                                                                            style="font-family:Times New Roman,serif">Nếu
                                                                            khách hàng thanh toán qua chuyển khoản,
                                                                            chúng tôi hoàn trả tiền theo tài khoản đã
                                                                            thanh toán đúng bằng số tiền mà khách hàng
                                                                            mua dịch vụ
                                                                            đó;</span></span></span></span></span></span>
                                                </li>
                                                <li style="margin-top: 8px; margin-bottom: 8px">
                                                    <span style="font-size:11pt"><span style="line-height:150%"><span
                                                                style="font-family:Calibri,sans-serif"><span
                                                                    style="font-size:13.0pt"><span
                                                                        style="line-height:150%"><span
                                                                            style="font-family:Times New Roman,serif">Nếu
                                                                            khách hàng thanh toán tại công ty đề nghị
                                                                            khách hàng đến công ty để nhận lại tiền
                                                                            (Nhân viên hỗ trợ sẽ liên hệ với khách
                                                                            hàng để đặt lịch
                                                                            hẹn).</span></span></span></span></span></span>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
            <p style="margin-top: 8px; margin-bottom: 8px"><span style="font-size:11pt"><span
                        style="line-height:150%"><span style="font-family:Calibri,sans-serif"><b><i><span
                                        style="font-size:13.0pt"><span style="line-height:150%"><span
                                                style="font-family:Times New Roman,serif">a. Chính sách kiểm
                                                hàng</span></span></span></i></b></span></span></span></p>
            <p style="margin-top: 8px; margin-bottom: 8px"><span style="font-size:11pt"><span
                        style="background:white"><span style="line-height:150%"><span
                                style="vertical-align:baseline"><span style="font-family:Calibri,sans-serif"><span
                                        style="font-size:13.0pt"><span style="line-height:150%"><span
                                                style="font-family:Times New Roman,serif"><span
                                                    style="color:black">Nhằm đảm bảo quyền lợi người tiêu dùng, nâng cao
                                                    chất lượng dịch vụ sau bán hàng, <b>MomShop.vn </b>sẽ hỗ trợ
                                                    Quý khách thực hiện đổi sản phẩm mới. Hoặc trả lại sản phẩm, hoàn
                                                    tiền hàng cho quý khách. khi có vấn đề về sản phẩm, quý khách vui
                                                    lòng quay video làm bằng chứng khi mở hàng để Bad có thể hỗ trợ đổi
                                                    mẫu sản phẩm hoặc hoàn sản
                                                    phẩm.</span></span></span></span></span></span></span></span></span>
            </p>
            <p style="margin-top: 8px; margin-bottom: 8px"><span style="font-size:11pt"><span
                        style="background:white"><span style="line-height:150%"><span
                                style="vertical-align:baseline"><span style="font-family:Calibri,sans-serif"><span
                                        style="font-size:13.0pt"><span style="line-height:150%"><span
                                                style="font-family:Times New Roman,serif"><span
                                                    style="color:black">&nbsp;(Nhưng không hoàn lại phí vận chuyển hoặc
                                                    lệ phí giao hàng nếu có).
                                                </span></span></span></span></span></span></span></span></span></p>
            <p style="margin-top: 8px; margin-bottom: 8px"><span style="font-size:11pt"><span
                        style="background:white"><span style="line-height:150%"><span
                                style="font-family:Calibri,sans-serif"><b><i><span style="font-size:13.0pt"><span
                                                style="line-height:150%"><span
                                                    style="font-family:Times New Roman,serif"><span
                                                        style="color:black"><span style="letter-spacing:.15pt">b.
                                                            &nbsp;Quy định trả hàng
                                                        </span></span></span></span></span></i></b></span></span></span></span>
            </p>
            <ul>
                <li style="list-style-type:none">
                    <ul>
                        <li style="list-style-type:none">
                            <ul>
                                <li style="list-style-type:none">
                                    <ul>
                                        <li style="list-style-type:none">
                                            <ul>
                                                <li style="margin-top: 8px; margin-bottom: 8px">
                                                    <span style="font-size:11pt"><span style="line-height:150%"><span
                                                                style="font-family:Calibri,sans-serif"><span
                                                                    style="font-size:13.0pt"><span
                                                                        style="line-height:150%"><span
                                                                            style="font-family:Times New Roman,serif">Hàng
                                                                            giao không đúng chủng loại, mẫu mã như quý
                                                                            khách đặt hàng.
                                                                        </span></span></span></span></span></span></li>
                                                <li style="margin-top: 8px; margin-bottom: 8px">
                                                    <span style="font-size:11pt"><span style="line-height:150%"><span
                                                                style="font-family:Calibri,sans-serif"><span
                                                                    style="font-size:13.0pt"><span
                                                                        style="line-height:150%"><span
                                                                            style="font-family:Times New Roman,serif">Không
                                                                            đủ số lượng, không đủ bộ như trong đơn hàng.
                                                                        </span></span></span></span></span></span></li>
                                                <li style="margin-top: 8px; margin-bottom: 8px">
                                                    <span style="font-size:11pt"><span style="line-height:150%"><span
                                                                style="font-family:Calibri,sans-serif"><span
                                                                    style="font-size:13.0pt"><span
                                                                        style="line-height:150%"><span
                                                                            style="font-family:Times New Roman,serif">Tình
                                                                            trạng bên ngoài bị ảnh hưởng như bong tróc,
                                                                            bể vỡ xảy ra trong quá trình vận chuyển,…
                                                                        </span></span></span></span></span></span></li>
                                                <li style="margin-top: 8px; margin-bottom: 8px">
                                                    <span style="font-size:11pt"><span style="line-height:150%"><span
                                                                style="font-family:Calibri,sans-serif"><span
                                                                    style="font-size:13.0pt"><span
                                                                        style="line-height:150%"><span
                                                                            style="font-family:Times New Roman,serif">Không
                                                                            đạt chất lượng như:&nbsp;không vận hành
                                                                            được. Hỏng hóc khách quan trong phạm vi bảo
                                                                            hành của nhà cung cấp, nhà sản xuất,… Thời
                                                                            gian giải quyết trả hàng tối đa trong vòng
                                                                            48 tiếng, kể từ khi <b>MomShop.vn
                                                                            </b>xác nhận với khách hàng. Nhận đủ sản
                                                                            phẩm + phụ kiện + giấy tờ liên quan.
                                                                        </span></span></span></span></span></span></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
            <p style="margin-top: 8px; margin-bottom: 8px"><span style="font-size:11pt"><span
                        style="line-height:150%"><span style="font-family:Calibri,sans-serif"><span
                                style="font-size:13.0pt"><span style="line-height:150%"><span
                                        style="font-family:Times New Roman,serif">Lưu ý:&nbsp; Quý khách giữ
                                        lại toàn bộ giấy tờ khi giao dịch với nhân viên của <b>MomShop.vn</b> để
                                        đối chiếu khi cần thiết. Giữ sản phẩm mới 100% như ban đầu. Để được hưởng chính
                                        sách 1 đổi 1 hoặc trả lại trong 14 ngày. Quý khách vui lòng kiểm tra hàng hóa.
                                        Và ký nhận tình trạng với nhân viên của <b>MomShop.vn </b>ngay khi nhận
                                        được hàng. Khi phát hiện một trong các trường hợp trên, quý khách có thể trao
                                        đổi trực tiếp với nhân viên của <b>MomShop.vn</b>. Hoặc phản hồi cho
                                        chúng tôi trong vòng 24 tiếng theo hotline Chăm Sóc Khách Hàng:
                                    </span></span></span><a href="tel:(028)%207302288"><span
                                    style="font-size:13.0pt"><span style="line-height:150%"><span
                                            style="font-family:Times New Roman,serif"><span
                                                style="text-decoration:none"><span
                                                    >0902.638.020 -
                                                    0931.610.291</span></span></span></span></span></a></span></span></span>
            </p>
            <p style="margin-top: 8px; margin-bottom: 8px"><span style="font-size:11pt"><span
                        style="line-height:150%"><span style="font-family:Calibri,sans-serif"><span
                                style="font-size:13.0pt"><span style="line-height:150%"><span
                                        style="font-family:Times New Roman,serif"><span
                                            style="letter-spacing:.15pt">*</span></span></span></span><span
                                style="font-size:13.0pt"><span style="line-height:150%"><span
                                        style="font-family:Times New Roman,serif">* Lưu ý: Quý khách giữ lại
                                        toàn bộ giấy tờ khi giao dịch với nhân viên của <b>MomShop.vn </b><span
                                            style="letter-spacing:.15pt">để đối chiếu khi cần thiết. Giữ sản phẩm mới
                                            100% như ban đầu để được hưởng chính sách 1 đổi 1 chỉ có tại
                                        </span><b>MomShop.vn</b></span></span></span></span></span></span></p>
            <p style="margin-top: 8px; margin-bottom: 8px"><span style="font-size:11pt"><span
                        style="background:white"><span style="line-height:150%"><span
                                style="font-family:Calibri,sans-serif"><b><i><span style="font-size:13.0pt"><span
                                                style="line-height:150%"><span
                                                    style="font-family:Times New Roman,serif"><span
                                                        style="color:black"><span style="letter-spacing:.15pt">c. Quy
                                                            định đổi hàng
                                                        </span></span></span></span></span></i></b></span></span></span></span>
            </p>
            <ul>
                <li style="list-style-type:none">
                    <ul>
                        <li style="list-style-type:none">
                            <ul>
                                <li style="list-style-type:none">
                                    <ul>
                                        <li style="list-style-type:none">
                                            <ul>
                                                <li style="margin-top: 8px; margin-bottom: 8px">
                                                    <span style="font-size:11pt"><span style="line-height:150%"><span
                                                                style="font-family:Calibri,sans-serif"><span
                                                                    style="font-size:13.0pt"><span
                                                                        style="line-height:150%"><span
                                                                            style="font-family:Times New Roman,serif">Sản
                                                                            phẩm được ĐỔI MỚI 100% ngay trong vòng 14
                                                                            ngày. Kể từ ngày giao hàng nếu xảy ra lỗi do
                                                                            nhà sản xuất. Do giao sai hàng hóa, sản phẩm
                                                                            còn nguyên hiện trạng mới 100% như ban đầu
                                                                            khi giao <b>MomShop.vn </b>sẽ giải
                                                                            quyết chỉ trong 15 phút. Ngay sau khi xác
                                                                            nhận tình trạng sản phẩm với khách hàng.
                                                                        </span></span></span></span></span></span></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
            <p style="margin-top: 8px; margin-bottom: 8px; margin-left: 18px"><span
                    style="font-size:11pt"><span style="line-height:150%"><span
                            style="font-family:Calibri,sans-serif"><span style="font-size:13.0pt"><span
                                    style="line-height:150%"><span
                                        style="font-family:Times New Roman,serif">** Lưu ý: Quý khách giữ
                                        lại toàn bộ giấy tờ khi giao dịch với nhân viên của <b>MomShop.vn </b>để
                                        đối chiếu khi cần thiết. Giữ sản phẩm mới 100% như ban đầu để được hưởng chính
                                        sách 1 đổi 1 chỉ có tại <b>MomShop.vn </b>sẽ không chấp nhận đổi/trả hàng
                                        khi:</span></span></span></span></span></span></p>
            <ul>
                <li style="list-style-type:none">
                    <ul>
                        <li style="list-style-type:none">
                            <ul>
                                <li style="list-style-type:none">
                                    <ul>
                                        <li style="list-style-type:none">
                                            <ul>
                                                <li style="margin-top: 8px; margin-bottom: 8px">
                                                    <span style="font-size:11pt"><span style="line-height:150%"><span
                                                                style="font-family:Calibri,sans-serif"><span
                                                                    style="font-size:13.0pt"><span
                                                                        style="line-height:150%"><span
                                                                            style="font-family:Times New Roman,serif">Các
                                                                            thiết bị sản phẩm có tính chất hao mòn, các
                                                                            thiết bị bị cắt rời, bẻ gãy, làm mất bao bì,
                                                                            không đầy đủ phụ kiện kèm theo.
                                                                        </span></span></span></span></span></span></li>
                                                <li style="margin-top: 8px; margin-bottom: 8px">
                                                    <span style="font-size:11pt"><span style="line-height:150%"><span
                                                                style="font-family:Calibri,sans-serif"><span
                                                                    style="font-size:13.0pt"><span
                                                                        style="line-height:150%"><span
                                                                            style="font-family:Times New Roman,serif">Các
                                                                            sản phẩm bị trầy xước, dơ bẩn, ố
                                                                            vàng&nbsp;</span></span></span></span></span></span>
                                                </li>
                                                <li style="margin-top: 8px; margin-bottom: 8px">
                                                    <span style="font-size:11pt"><span style="line-height:150%"><span
                                                                style="font-family:Calibri,sans-serif"><span
                                                                    style="font-size:13.0pt"><span
                                                                        style="line-height:150%"><span
                                                                            style="font-family:Times New Roman,serif">Quý
                                                                            khách muốn thay đổi chủng loại, mẫu mã nhưng
                                                                            không thông báo trước.
                                                                        </span></span></span></span></span></span></li>
                                                <li style="margin-top: 8px; margin-bottom: 8px">
                                                    <span style="font-size:11pt"><span style="line-height:150%"><span
                                                                style="font-family:Calibri,sans-serif"><span
                                                                    style="font-size:13.0pt"><span
                                                                        style="line-height:150%"><span
                                                                            style="font-family:Times New Roman,serif">Quý
                                                                            khách tự làm ảnh hưởng tình trạng bên ngoài.
                                                                            Như rách bao bì, bong tróc, bể vỡ,…
                                                                        </span></span></span></span></span></span></li>
                                                <li style="margin-top: 8px; margin-bottom: 8px">
                                                    <span style="font-size:11pt"><span style="line-height:150%"><span
                                                                style="font-family:Calibri,sans-serif"><span
                                                                    style="font-size:13.0pt"><span
                                                                        style="line-height:150%"><span
                                                                            style="font-family:Times New Roman,serif">Quý
                                                                            khách vận hành không đúng chỉ dẫn gây hỏng
                                                                            hóc hàng hóa.
                                                                        </span></span></span></span></span></span></li>
                                                <li style="margin-top: 8px; margin-bottom: 8px">
                                                    <span style="font-size:11pt"><span style="line-height:150%"><span
                                                                style="font-family:Calibri,sans-serif"><span
                                                                    style="font-size:13.0pt"><span
                                                                        style="line-height:150%"><span
                                                                            style="font-family:Times New Roman,serif">Quý
                                                                            khách không thực hiện các quy định theo yêu
                                                                            cầu để được hưởng chế độ bảo hành (ví dụ
                                                                            không gửi phiếu bảo hành về đúng nơi quy
                                                                            định trong thời gian quy định nếu có).
                                                                        </span></span></span></span></span></span></li>
                                                <li style="margin-top: 8px; margin-bottom: 8px">
                                                    <span style="font-size:11pt"><span style="line-height:150%"><span
                                                                style="font-family:Calibri,sans-serif"><span
                                                                    style="font-size:13.0pt"><span
                                                                        style="line-height:150%"><span
                                                                            style="font-family:Times New Roman,serif">Quý
                                                                            khách đã kiểm tra và ký nhận tình trạng hàng
                                                                            hóa. Nhưng không có phản hồi trong vòng 24h
                                                                            kể từ lúc ký nhận hàng.
                                                                        </span></span></span></span></span></span></li>
                                                <li style="margin-top: 8px; margin-bottom: 8px">
                                                    <span style="font-size:11pt"><span style="line-height:150%"><span
                                                                style="font-family:Calibri,sans-serif"><span
                                                                    style="font-size:13.0pt"><span
                                                                        style="line-height:150%"><span
                                                                            style="font-family:Times New Roman,serif">*
                                                                            Lưu ý: Việc đổi hàng, sửa chữa sẽ được thực
                                                                            hiện theo đúng quy định của nhà cung cấp,
                                                                            nhà sản xuất. Hoặc nhà bảo hành được ủy
                                                                            quyền của nhà cung cấp, nhà sản xuất đó.
                                                                        </span></span></span></span></span></span></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
            <p style="margin-top: 8px; margin-bottom: 8px"><span style="font-size:11pt"><span
                        style="background:white"><span style="line-height:150%"><span
                                style="font-family:Calibri,sans-serif"><span style="font-size:13.0pt"><span
                                        style="line-height:150%"><span
                                            style="font-family:Times New Roman,serif"><span
                                                style="color:black"><span style="letter-spacing:.15pt">Mọi thắc mắc,
                                                    khiếu nại về vấn đề đổi hàng, bảo hành, quý khách vui lòng liên hệ
                                                    số hotline </span></span></span></span></span><span
                                    style="color:black"><a href="tel:(028)%207302288"><span
                                            style="font-size:13.0pt"><span style="line-height:150%"><span
                                                    style="font-family:Times New Roman,serif"><span
                                                        style="color:black"><span style="text-decoration:none"><span
                                                                >0902.638.020 -
                                                                0931.610.291</span></span></span></span></span></span></a></span><span
                                    style="font-size:13.0pt"><span style="line-height:150%"><span
                                            style="font-family:Times New Roman,serif"><span
                                                style="color:black"><span style="letter-spacing:.15pt"> để được hỗ trợ
                                                    tốt nhất. Chân thành cám ơn sự tín nhiệm và hợp tác của quý khách
                                                    hàng.</span></span></span></span></span></span></span></span></span>
            </p>
            <p style="margin-top: 8px; margin-bottom: 8px"><span style="font-size:11pt"><span
                        style="line-height:150%"><span style="font-family:Calibri,sans-serif"><b><i><span
                                        style="font-size:13.0pt"><span style="line-height:150%"><span
                                                style="font-family:Times New Roman,serif"><span
                                                    style="letter-spacing:.15pt">d. Chính sách bảo
                                                    hành</span></span></span></span></i></b><span
                                style="font-size:13.0pt"><span style="line-height:150%"><span
                                        style="font-family:Times New Roman,serif"> <b><i><span
                                                    style="background:yellow">(đối với các sản phẩm phụ
                                                    kiện</span>)</i></b></span></span></span></span></span></span></p>
            <p style="margin-top: 8px; margin-bottom: 8px"><span style="font-size:11pt"><span
                        style="background:white"><span style="line-height:150%"><span
                                style="font-family:Calibri,sans-serif"><span style="font-size:13.0pt"><span
                                        style="line-height:150%"><span
                                            style="font-family:Times New Roman,serif"><span
                                                style="color:black"><span style="letter-spacing:.15pt">Chân thành cám ơn
                                                    quý khách hàng, đã tin tưởng sử dụng sản phẩm và dịch vụ do Công ty
                                                    chúng tôi cung cấp. Mong quý khách hàng vui lòng tuân thủ các chính
                                                    sách bảo hành sau đây để Công ty được phục vụ quý khách một cách tốt
                                                    nhất, đồng thời đảm bảo quyền lợi chính đáng của chính quý khách về
                                                    sau. </span></span></span></span></span></span></span></span></span>
            </p>
            <p style="margin-top: 8px; margin-bottom: 8px"><span style="font-size:11pt"><span
                        style="background:white"><span style="line-height:150%"><span
                                style="font-family:Calibri,sans-serif"><b><i><span style="font-size:13.0pt"><span
                                                style="line-height:150%"><span
                                                    style="font-family:Times New Roman,serif"><span
                                                        style="color:black"><span style="letter-spacing:.15pt">2. Nhưng
                                                            trường hợp không được bảo hành
                                                        </span></span></span></span></span></i></b></span></span></span></span>
            </p>
            <ul>
                <li style="list-style-type:none">
                    <ul>
                        <li style="list-style-type:none">
                            <ul>
                                <li style="list-style-type:none">
                                    <ul>
                                        <li style="list-style-type:none">
                                            <ul>
                                                <li style="margin-top: 8px; margin-bottom: 8px">
                                                    <span style="font-size:11pt"><span style="line-height:150%"><span
                                                                style="font-family:Calibri,sans-serif"><span
                                                                    style="font-size:13.0pt"><span
                                                                        style="line-height:150%"><span
                                                                            style="font-family:Times New Roman,serif">Rách
                                                                            tem, bị tẩy xoá, chỉnh sửa hoặc bị dán chồng
                                                                            bằng tem khác, không rõ ngày tháng, có dấu
                                                                            hiệu bị can thiệp, sửa chữa không do kỹ
                                                                            thuật <b>MomShop.vn </b>chỉ định. Tem
                                                                            giả mạo, không có tem do
                                                                            <b>MomShop.vn </b>phát
                                                                            hành\</span></span></span></span></span></span>
                                                </li>
                                                <li style="margin-top: 8px; margin-bottom: 8px">
                                                    <span style="font-size:11pt"><span style="line-height:150%"><span
                                                                style="font-family:Calibri,sans-serif"><span
                                                                    style="font-size:13.0pt"><span
                                                                        style="line-height:150%"><span
                                                                            style="font-family:Times New Roman,serif">Sản
                                                                            phẩm đã qua sử dụng hoặc quá thời hạn đổi
                                                                            trả quy định của
                                                                            Bad</span></span></span></span></span></span>
                                                </li>
                                                <li style="margin-top: 8px; margin-bottom: 8px">
                                                    <span style="font-size:11pt"><span style="line-height:150%"><span
                                                                style="font-family:Calibri,sans-serif"><span
                                                                    style="font-size:13.0pt"><span
                                                                        style="line-height:150%"><span
                                                                            style="font-family:Times New Roman,serif">Sản
                                                                            phẩm hư hỏng do thiên tai, hoả hoạn, cháy
                                                                            nổ, thấm nước, rỉ sét, côn trùng phá hoại.
                                                                        </span></span></span></span></span></span></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
            <p><span style="font-size:13.0pt"><span style="line-height:107%"><span
                            style="font-family:Times New Roman,serif">Sản phẩm hư hỏng do người sử dụng gây
                            ra như biến dạng, rơi vỡ, trầy xước</span></span></span></p>
        </div>
    </div>
</div>
<app-footer></app-footer>