
MOMShop/MOMShop/bin/Debug/net5.0/MOMShop.dll
MOMShop/MOMShop/bin/Debug/net5.0/MOMShop.dll
MOMShop/MOMShop/bin/Debug/net5.0/MOMShop.pdb
MOMShop/MOMShop/bin/Debug/net5.0/MOMShop.runtimeconfig.dev.json
MOMShop/MOMShop/obj/Debug/net5.0/MOMShop.assets.cache
MOMShop/MOMShop/obj/Debug/net5.0/MOMShop.csproj.AssemblyReference.cache
MOMShop/MOMShop/obj/Debug/net5.0/MOMShop.csproj.CoreCompileInputs.cache
MOMShop/MOMShop/obj/Debug/net5.0/MOMShop.csproj.FileListAbsolute.txt
MOMShop/MOMShop/obj/Debug/net5.0/MOMShop.dll
MOMShop/MOMShop/obj/Debug/net5.0/MOMShop.GeneratedMSBuildEditorConfig.editorconfig
MOMShop/MOMShop/obj/Debug/net5.0/MOMShop.genruntimeconfig.cache
MOMShop/MOMShop/obj/Debug/net5.0/MOMShop.MvcApplicationPartsAssemblyInfo.cs
MOMShop/MOMShop/obj/Debug/net5.0/MOMShop.pdb
MOMShop/MOMShop/obj/MOMShop.csproj.nuget.dgspec.json
MOMShop/MOMShop/obj/MOMShop.csproj.nuget.g.props
MOMShop/MOMShop/obj/project.assets.json
MOMShop/MOMShop/obj/project.nuget.cache
