.list-order{
    background-color: #f5f5f5;
    padding:50px 0;
}
.container{
    max-width: 800px;
    margin:0 auto;
    background-color: white;
    margin-bottom: 40px;
    border-bottom: 1px solid rgb(228, 224, 224);
}
.product{
    background-color: white;
    padding-right:20px;
    padding-top: 10px;
}
.sparate-line{
    transform: rotate(90deg);
    width: 5%;
}
.vote{
    color:#ee4d2d;
    cursor: pointer;
}
.text-status{
    color:#26aa99;
    margin-left: 5px;
}
.fa-truck{
    color: #26aa99;
}
.detail-product{
    display: flex;
    padding: 10px 20px;
    align-items: center;
}
.image-product{
    margin-right: 20px;
    border-radius: 5px;
}
.block-payment{
   display: flex;
   justify-content: space-around;
   align-items: baseline;
   width: 100%;
}
.fee{
    color: #ee4d2d;
    font-size: 24px;
    line-height: 30px;
}
.icon-policy{
    color: #ee4d2d; 
    font-size: 20px;
    line-height: 30px;
}
.order-code{
    font-weight: bold;
    padding: 0;
    margin-left: 20px;
}
.description-order{
    display: flex;
    justify-content: space-between;
    flex:1;
    align-items: center;
}
.btn-cancel{
    width: 15%;
    float: left;
    background-color: #ee4d2d;
    border-color: #cd3011;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    border-radius: 4px;
    padding: 8px 10px;
    border:none;
    margin-left: 20px;
}
.block-transport{
    cursor: pointer;
}