.content {
    margin-left: 100px;
    transition: 0.3s;
    &.sidebarExpanded {
      margin-left: 160px;
    }
  }
  /* App level styles */
::ng-deep {
  .text-dark {
      color: black !important;
  }

  .modal-header-master {
      border-bottom: 2px solid #c8102e;
      padding: 0.55rem;
      background: rgba(217, 217, 217, 0.5);
      margin-bottom: 0% !important;
  }

  .input-bottom-form {
      margin-bottom: 20px !important;
  }

  .modal-body-master {
      padding: 2.5rem !important;
  }

  .modal-footer-master {
      padding: 9px 10px 9px 0px !important;
  }

  .form-group-master {
      margin-bottom: 5px;
  }

  .asterisks_lable_title {
      color: rgb(150, 35, 35) !important;
  }

  .search-body-input {
      padding: 10px 0px 10px 15px !important;
  }

  .validate_lable_input {
      color: rgb(150, 35, 35);
      margin-left: 20px;
  }

  .delete-assetgroup-button {
      padding: 3px 7px 5px 7px;
      background-color: rgb(233, 99, 99);
  }

  .delete-assetgroup-button:hover {
      background-color: rgb(241, 60, 60);
  }

  .p-button-sm {
      height: 25px;
      padding: 0px 9px 0px 11px;

  }

  .p-datatable .p-datatable-tbody>tr>td {
      padding: 4px 1rem;
  }

  .p-button {
      margin-right: 0.5rem;
  }

  // .p-datatable.p-datatable-gridlines .p-datatable-tbody > tr > td {
  //     border: 1px !important;
  // }

  .p-datatable .p-datatable-thead>tr>th {
      padding: 0.7rem 1rem;
      text-align: center;
  }

  .form-group {
      margin-bottom: 0px;
  }

  .gutter-b {
      margin-bottom: 10px;
  }

  .content {
      padding: 10px 0;
  }

  .container-fluid {
      padding: 0 13px;
  }

  .header.header-fixed {
      height: 40px !important;
  }



  @media (min-width: 992px) {
      .brand {
          height: 40px !important;
      }

  }

  @media (min-width: 992px) {
      .header-fixed.subheader-fixed .subheader {
          top: 40px !important;
      }

  }

  @media (min-width: 992px) {
      .header-fixed.subheader-fixed.subheader-enabled .wrapper {
          padding-top: 95px;
      }

  }

  .last_column_vender_table {
      padding: 5px 0px 5px 5px !important;
      text-align: center !important;

  }

  .input-group-text {
      border-top-right-radius: 0rem !important;
      border-bottom-right-radius: 0rem !important;
  }

  h6 {
      color: #00000085;
  }

  .card.card-custom > .card-body {
      padding: 1rem 1.25rem;
  }

  .p-fileupload .p-fileupload-content {
      display: none;
  }
  
  .p-fileupload .p-fileupload-buttonbar {
      padding: 0rem;
      color: #343a40;
      border: 0px none;
      border-bottom: 0 none;
      border-top-right-radius: 0px;
      border-top-left-radius: 0px;
      background: none;
  }

  .p-fileupload .p-fileupload-buttonbar .p-button {
      padding-left: 10px;
      padding-right: 9px;
      padding-top: 6px;
      padding-bottom: 6px;
      margin-bottom: 3px;
  }

}
.input-text{
    height: 28px;
}
.label-text{
    font-size:8px !important
}
.p-table{
    min-height: 400px;
}

.main{
   overflow: hidden;
   height: 100vh;
}