    <!-- <div class="main"> -->
        <!-- <app-admin-menu>
        </app-admin-menu> -->
        <!-- <app-user-main></app-user-main> -->
        <!-- <router-outlet></router-outlet>  -->
    <!-- </div> -->

    <app-app-header (modalSaves)="clickCart()"></app-app-header> 
    <app-login *ngIf="visiableLogin" (modalSave)="clickLogin()" (openFormRegister)="openRegister()"></app-login>
    <app-user-register *ngIf="visiableRegister"></app-user-register>
    <app-user-cart *ngIf="visableCart" (backGoHome)="backHome()"></app-user-cart>
    <app-app-footer></app-app-footer>

