  <!-- <div class="main" *ngIf="visiableMain"> 
         <app-admin-menu>
        </app-admin-menu> 
    </div>  -->
        <app-admin-menu *ngIf="user?.userType == 1">
       </app-admin-menu> 
    <!-- <app-login *ngIf="visiableLogin" (goPage)="backHome()"></app-login> -->
    <router-outlet></router-outlet> 
    <!-- <app-user-register></app-user-register> -->
    <!-- <app-user-cart *ngIf="visableCart" (backGoHome)="backHome()"></app-user-cart>
    <app-user-home *ngIf="visableHome"></app-user-home>
    <app-nav></app-nav> -->
    <!-- <app-footer></app-footer> -->
<!-- <app-nav></app-nav> -->
<!-- <app-user-home></app-user-home> -->