<app-header></app-header> 
<div class="form-register mb-5 mt-5">
    <h2 class="title-form text-center mb-5">Tạo tài khoản</h2>
    <div class="form-input">
        <input type="text" name="fullname" class="input mb-4" placeholder="Họ và tên" [(ngModel)]="inputRegister.fullname">
        <label for="">Nam</label>
        <input type="radio" class="input-radio mb-4" name="gender"value="Nam" [(ngModel)]="inputRegister.gender" >
        <label for="">Nữ</label>
        <input type="radio" class="input-radio mb-4" name="gender" placeholder="Nữ" value="Nữ" [(ngModel)]="inputRegister.gender">
        <input type="email" name="email" class="input mb-4" placeholder="Email" [(ngModel)]="inputRegister.email">
        <input type="password" name="password" class="input mb-4" placeholder="Mật khẩu" [(ngModel)]="inputRegister.password">
        <input type="text" name="phone" class="input mb-4" placeholder="Số điện thoại" [(ngModel)]="inputRegister.phone">
        <input type="text" name="address" class="input mb-4" placeholder="Địa chỉ" [(ngModel)]="inputRegister.address">
        <input type="text" name="district" class="input mb-4" placeholder="Quận/Huyện" [(ngModel)]="inputRegister.district">
        <input type="text" name="province" class="input mb-4" placeholder="Thành phố" [(ngModel)]="inputRegister.province">
        <input type="datetime-local" name="birthday" class="input mb-4" placeholder="dd/mm/yyyy" [(ngModel)]="inputRegister.birthday">
    </div>
    <p class="note-footer">
        This site is protected by reCAPTCHA and the Google Privacy Policy and Terms of Service apply.
    </p>
    <div class="form-footer">
        <button (click)="register()" class="btn-login">Đăng ký</button>
    </div>
    <a routerLink="/login" class="text-center text-secondary mt-5" routerLinkActive="active">Quay lại trang chủ</a>
</div>
<!-- <router-outlet *ngIf="checkLogin"></router-outlet>      -->
<app-footer></app-footer>