<app-app-header></app-app-header> 
<div class="form-register mb-5 mt-5">
    <h2 class="title-form text-center mb-5">Tạo tài khoản</h2>
    <div class="form-input">
        <input type="text" class="input mb-4" placeholder="Họ">
        <input type="text" class="input  mb-4" placeholder="Tên">
        <label for="">Nam</label>
        <input type="radio" class="input-radio mb-4" name="gender" >
        <label for="">Nữ</label>
        <input type="radio" class="input-radio mb-4" name="gender" placeholder="Nữ">
        <input type="text" class="input mb-4" placeholder="Email">
        <input type="text" class="input mb-4" placeholder="Phone">
        <input type="text" class="input mb-4" placeholder="Ngày sinh(dd/mm/yyyy)">
    </div>
    <p class="note-footer">
        This site is protected by reCAPTCHA and the Google Privacy Policy and Terms of Service apply.
    </p>
    <div class="form-footer">
        <button class="btn-login">Đăng ký</button>
    </div>
</div>

<!-- <router-outlet *ngIf="checkLogin"></router-outlet>      -->
