<!-- <h1>Weather Forecast</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Temperature (C)</th>
      <th>Temperature (F)</th>
      <th>Summary</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of weatherData">
      <td>{{ item.date | date }}</td>
      <td>{{ item.temperatureC }}</td>
      <td>{{ item.temperatureF }}</td>
      <td>{{ item.summary }}</td>
    </tr>
  </tbody>
</table> -->
<h2 style="color: green">
	GeeksforGeeks
</h2>
<h4>
	Angular PrimeNG Table Basic
</h4>

 <!-- <p-table [value]="weatherData" (selectionChange)="onSelectionChange($event)" 
  [columns]="colDef" selectionMode="single" [(selection)]="selectedProduct" [paginator]="true" [rows]="6">
	<ng-template pTemplate="header" let-columns>
		<tr>
			<th *ngFor="let cols of columns">
				{{cols.header}}
			</th>
		</tr>
	</ng-template>

	<ng-template pTemplate="body" let-tableData let-columns="columns">
		<tr [pSelectableRow]="tableData">
			<td *ngFor="let cols of columns">
				{{tableData[cols.field]}}
			</td>
		</tr>
	</ng-template>
</p-table>  -->
<p *ngIf="selectedProduct">{{selectedProduct.field}}</p>
<table-custom [colDef]="colDef" [rowData]="weatherData" [rowSelectionable]="true" (selectionChange)="onSelectionChange($event)"></table-custom>

