<app-header></app-header>
<div class="layout-page text-right page-right mt-5">
    <div class="container">
        <div class="header-page text-center mt-5">
            <h1>POLICY GUIDE</h1>
        </div>
    </div>
    <div class="content-page text-right">
        <div class="container">
            <p><b>CHÍNH SÁCH ĐỔI TRẢ VÀ BẢO HÀNH</b></p>
            <p><b>A. CHÍNH SÁCH ĐỔI TRẢ</b></p>
            <p><strong>1. Thời hạn đổi trả (mỗi đơn hàng chỉ áp dụng đổi 1 lần)</strong></p>
            <p>+&nbsp;Đối với sản phẩm áo quần, phụ kiện, thời gian đổi hàng trong vòng 14 ngày, kể từ ngày khách hàng
                nhận sản phẩm.</p>
            <p><br><strong>2.&nbsp;Điều kiện đổi trả</strong></p>
            <p>+ Sản phẩm phải còn bill (đối với đơn hàng mua trực tiếp tại cửa hàng), còn nguyên tag, sản phẩm ở trong
                tình trạng chưa qua sử dụng.</p>
            <p>+ Sản phẩm đổi phải có giá trị tương đương hoặc cao hơn sản phẩm được đổ (Khách hàng sẽ bù tiền chênh
                lệch đối với sản phẩm giá cao hơn, với sản phẩm đổi có giá thấp hơn sẽ không hoàn tiền chênh lệch)</p>
            <p>+&nbsp;<b><i>Đối với sản phẩm Sale</i></b>,&nbsp;</p>
            <p><strong>- Sản phẩm&nbsp;có mức sale &lt;&nbsp;30% :&nbsp;</strong>khách hàng muốn đổi sang sản phẩm khác
                thì sản phẩm mới sẽ được áp dụng giá tại website chính thức tại thời điểm đổi, nếu có chênh lệch giá vui
                lòng thanh toán phần chênh lệch đó và phí giao hàng phát sinh.</p>
            <p>- <strong>Sản phẩm&nbsp;có mức sale&nbsp;</strong>≥&nbsp;<strong>30% :</strong>&nbsp;không áp dụng chính
                sách đổi trả ( ngoại trừ lỗi sản phẩm, lỗi giao nhận )<br><strong>3.&nbsp;</strong><b>Hướng dẫn đổi
                    trả:</b></p>
            <p><b><i>Đổi trả qua chuyển phát</i></b><br>+ Khách hàng điền thông tin đổi hàng tại:&nbsp;<a
                    href="https://360.postco.co/badhabits">https://360.postco.co/badhabits</a><br>Video hướng dẫn
                sử dụng:<br>&nbsp;</p>
            <p><b><i>Đổi trả trực tiếp</i></b></p>
            <p>+ Đổi trực tiếp tại hệ thống cửa hàng của DOUBLE BAD</p>
            <p>+ Hoặc trực tiếp tại địa chỉ văn phòng của DOUBLE BAD: 152A Trần Quang Khải, P Tân Định, Q1
                (bạn vui lòng liên hệ qua Facebook / Direct Instagram trước để nhân viên check và hướng dẫn cách gửi
                hàng nhé). Sau khi nhận được hàng, BAD sẽ liên hệ với bạn và tiến hành kiểm tra sản phẩm
                theo quy định đổi sản phẩm (quá trình này mất khoảng từ 2 - 5 ngày).</p>
            <p>&nbsp;</p>
            <p><strong>4.&nbsp;</strong><b>Chi phí đổi trả</b></p>
            <p>+<strong>&nbsp;Đối với các đơn hàng đổi size, đổi mẫu (không phải lỗi từ sản xuất) khách hàng vui lòng tự
                    chi trả phí giao hàng 2 chiều</strong></p>
            <p><strong>+ Đối với các đơn hàng đổi trả do lỗi sản xuất, giao nhầm hàng, BAD sẽ chịu phí giao hàng 2 chiều
                    cho bạn</strong></p>
            <p><br><strong>5. Không áp dụng đổi trả hàng với những trường hợp sau</strong><br>+ Sản
                phẩm hư hại bởi những tác nhân bên ngoài không phải từ phía sản xuất</p>
            <p>+ Mất hoá đơn, đã tháo tag hoặc đã quá thời hạn đổi trả.</p>
            <p>&nbsp;</p>
            <hr>
            <p>&nbsp;</p>
            <p><b>B. CHÍNH SÁCH BẢO HÀNH</b></p>
            <p><b>1. Đối với các sản phẩm áo thun có hình in</b></p>
            <p>+ BAD nhận bảo hành sản phẩm trong 6 tháng, với trường hợp hình in bị lỗi bong tróc/ nứt; Hình in bị
                loang màu; Hình in không giống mẫu; …</p>
            <p><b>2. Đối với phụ kiện balo, túi xách, giày, dép, nón</b></p>
            <p>+ BAD nhận bảo hành sản phẩm trong 3 tháng, với trường hợp sản phẩm bị lỗi dây kéo, đứt quai,…Và các
                trường hợp khác mà DOUBLE BAD có khả năng sửa chữa được.</p>
            <p><strong>3. Thời gian bảo hành</strong></p>
            <p>+ Thời gian để BAD hoàn trả sản phẩm sau khi bảo hành về lại cho khách hàng sẽ là từ 2-3 tuần sau khi BAD
                nhận được sản phẩm từ bạn và tùy vào tình trạng sản phẩm.</p>
            <p><strong>4. Không áp dụng bảo hành với những trường hợp sau</strong></p>
            <p>+ Lỗi do sử dụng không đúng cách như: sử dụng quá tải so với sức chứa, chịu lực, size của sản phẩm, làm
                cho sản phẩm thay đổi quá nhiều so với hình dạng ban đầu.</p>
            <p>+ Lỗi do bảo quản không đúng quy cách như: sử dụng chất tẩy rửa mạnh để giặt và gây lem màu, phơi nắng
                quá lâu làm hư hại sản phẩm…</p>
            <p>+ Sản phẩm hư hỏng do tác động bên ngoài, biến dạng, rách thủng, ẩm mốc, cháy hoặc do người sử dụng làm
                hỏng.</p>
            <p>+ Sản phẩm đã qua sử dụng bị dơ bẩn, đã được sửa chữa bởi người sử dụng.</p>
            <p>+ Sản phẩm đã quá hạn bảo hành.</p>
            <p>&nbsp;</p>
            <p>Trong quá trình sử dụng sản phẩm, mọi thắc mắc vui lòng liên hệ qua &nbsp;Fanpgage hoặc Hotline&nbsp;<a
                    href="tel:0902638020"><b>0902.638.020</b></a><b>&nbsp;-&nbsp;</b><a
                    href="tel:0931610291"><b>0931.610.291</b></a>&nbsp;để được nhân viên hỗ trợ nhanh chóng nhé!</p>
            <p style="text-align: justify;">&nbsp;</p>
        </div>

    </div>
</div>
<app-footer></app-footer>