.sidebar-menu li a{
    color:black;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}
.sidebar-menu{
    list-style: none;
    background: #F47916;
    //height:100%;
    box-sizing:  content-box;
    padding: 10px 20px;
    border-radius: 3px;
    //position: fixed;
}

.sidebar-menu li{
    margin-top:15px;
    margin-bottom: 15px;;
}
.input-search{
    width: 93%;
    padding: 8px 10px;
    border-radius: 4px 0px 0 4px;
    border:1px solid #ececec;
}
.btn-search{
    border: none;
    padding: 9px 10px;
    width: 7%;
    border-radius: 0 4px 4px 0;
    color:white;
    background-color: #D1D1D1;
}