<div style="position: absolute;">
    <header id="header" class="">
        <div class="header-top-bar" style="display: flex; flex-direction: row;height: 100px;">
            <div class="header-main--left" style="max-width: 40%;width: fit-content;height: fit-content;">
                <div class="header-logo">
                    <a>
                        <img itemprop="logo" src="//theme.hstatic.net/1000351433/1000915382/14/logo.png?v=237"
                            alt="Bad Habits Official Store" style="max-width: 100%;" />
                    </a>
                </div>
            </div>
            <div class="header-main--mid" style="max-width: 20%;">
                <a href="/"><img
                        src="https://file.hstatic.net/1000351433/file/240x100_3ad6fedc038f4e13aba55fc46e785e19.png"
                        alt="123" /></a>
            </div>
            <div class="header-main--right"
                style="width: 100%;height: 100%;; display:flex; flex-direction: row;justify-content:space-around;">
                <div style="display: inline;margin-top: 28px;">
                    <a><img src="https://file.hstatic.net/1000351433/file/loupe_9fd2a24ed9504b0c8d8fe6efb6654501.png"
                            width="40" height="40" /></a>
                </div>
                <div style="display: inline;margin-top: 28px;">
                    <a href="/cart"><img
                            src="https://file.hstatic.net/1000351433/file/shopping-cart_b425b78c185941d88a1a7ec5e3da7484.png"
                            width="40" height="40" /></a>
                    <!-- <a href="/cart"><span class="count-holder">
                        <span class="count">0</span>
                    </span> </a> -->
                </div>
                <div style="display: inline;margin-top: 28px;">
                    <a href="/account"><img
                            src="https://file.hstatic.net/1000351433/file/user_bfb942d5edb24fc895104e6524135e07.png"
                            width="40" height="40" /></a>
                </div>
            </div>
        </div>
        <div class="header-banner" style="display: flex; width: fit-content; height: fit-content;">
            <img src="
            https://file.hstatic.net/1000351433/file/1920_x_1200_90f6ea77fdc8419e8c18321ac3ecea7d.jpg"
                style="max-width: 100%; max-height: 100%;">
        </div>
    </header>

    <div class="header-bot-bar"
        style="display: flex; flex-direction: row;height: 100px; justify-content: space-around; font-weight: bold;">
        <div style="max-width: 20%;">
            <span href="/collections/best-seller ">BEST SELLER</span>
        </div>
        <div style="max-width: 20%; border: 2px;" class="parent-list-menu-product">
            <span href="/collections/hot-products ">SẢN PHẨM
                <div style="display: flex; width: fit-content; height: fit-content;">
                    <ul class="list-menu-product" style="border-radius: 4px;z-index: 10;border: 2px;">
                        <li class=" ">
                            <span>TẤT CẢ SẢN PHẨM</span>
                        </li>
                        <li class=" ">
                            <span>ÁO THUN</span>
                        </li>
                        <li class=" ">
                            <span>ÁO SƠMI</span>
                        </li>
                        <li class=" ">
                            <span>ÁO KHOÁC</span>
                        </li>
                        <li class=" ">
                            <span>QUẦN</span>
                        </li>
                        <li class=" ">
                            <span>PHỤ KIỆN</span>
                        </li>
                    </ul>
                </div>
            </span>
        </div>
        <div style="max-width: 20%; border: 2px;" class="parent-list-menu-product">
            <span href="/collections/stepout-collection ">BỘ SƯU TẬP
                <div style="display: flex; width: fit-content; height: fit-content;">
                    <ul class="list-menu-product" style="border-radius: 4px;z-index: 10;border: 2px;">
                        <li class=" ">
                            <span>BỘ SƯU TẬP BASIC</span>
                        </li>
                        <li class=" ">
                            <span>BỘ SƯU TẬP LUCKY YEAR</span>
                        </li>
                        <li class=" ">
                            <span>BỘ SƯU TẬP #STEPOUT</span>
                        </li>
                        <li class=" ">
                            <span>BỘ SƯU TẬP REMAKE</span>
                        </li>
                        <li class=" ">
                            <span>BỘ SƯU TẬP NỮ</span>
                        </li>

                    </ul>
                </div>
            </span>
        </div>
        <div style="max-width: 20%;">
            <span href="/pages/danh-sach-outfit ">MAKE YOUR STYLE</span>
        </div>
        <div style="max-width: 20%;">
            <span href="/collections/sale-end-season ">OUTLET SALE</span>
        </div>
    </div>



    <div class="main" style="display: flex; width: fit-content; height: fit-content;">

        <div class="header-banner" style="text-align: center;">
            <img src="https://file.hstatic.net/1000351433/file/bad_welcome_3eb6f344cd464c1f8783c0d4cf3a6881.jpg"
                style="max-width: 90%; max-height: 90%; ">
        </div>
    </div>
    <div class="list-banner w-60 section-bg-scroll one" style="display: flex;"
        background-image="url(https://file.hstatic.net/1000351433/file/nen_6f76fa8….png)">
        <div class="coll-banner left " style="max-width: 50%;">
            <div class="banner first " style="max-width: 50%;">
                <a href="/collections/hot-products " class="aspect-ratio ">
                    <img class="image--fade-in "
                        src="https://file.hstatic.net/1000351433/file/vuong_2_bb2b2b8aa0ea468d8e7e2536953a66cc.png"
                        alt=" " style="max-width: 50%;">
                    <div class="image--cap ">
                        <p>MOST WANTED</p>
                    </div>
                </a>
            </div>
            <div class="banner ">
                <a href="/collections/hot-products " class="aspect-ratio ">
                    <img class="image--fade-in "
                        src="https://file.hstatic.net/1000351433/file/vuong_1_4435f62d0e4744eea32fa306afe9c12d.png"
                        alt=" " style="max-width: 50%;">
                    <div class="image--cap ">
                        <p>NEW ARRIVAL</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="coll-banner right" style="max-width: 50%;">
            <div class="banner">
                <a href="/blogs/collection " class="aspect-ratio ">
                    <img class="image--fade-in "
                        src="https://file.hstatic.net/1000351433/file/doc_f885cfaf2fb54589a49f993ecaf6ce4d.png"
                        alt="CONCEPT " style="max-width: 50%;max-height: 100%;">
                    <div class="image--cap ">
                        <p>CONCEPT</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="banner" style="display: flex; width: fit-content; height: fit-content;text-align: center;">
        <a>
            <img src="https://file.hstatic.net/1000351433/file/untitled-1_62605bc5bf5040cb8c99b33aac0fee29.jpg"
                style="max-width: 90%;" />
        </a>
    </div>

    <footer id="footer " class="footer-main ">
        <div class="footer-top ">
            <div class="container ">
                <h2><q>BAD HABITS DIGITAL RETAIL STORE</q></h2>
            </div>
        </div>
        <div class="footer-bottom ">
            <div class="container ">
                <div class="row ">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 order-lg-3 ">
                        <div class="footer-content " style="margin-bottom: 30px;">
                            <ul class="footer-menu "
                                style="display: flex; flex-direction: column ;height: 100px; justify-content: space-between; font-weight: bold;">

                                <li><a href="/search " title="TÌM SẢN PHẨM ">TÌM SẢN PHẨM</a></li>

                                <li><a href="/blogs/kien-thuc-thoi-trang " title="BLOG ">BLOG</a></li>

                                <li><a href="https://360.postco.co/badhabits " title="ĐỔI TRẢ SẢN PHẨM ">ĐỔI TRẢ SẢN
                                        PHẨM</a></li>

                                <li><a href="/pages/chinh-sach-doi-tra " title="CHÍNH SÁCH ĐỔI TRẢ ">CHÍNH SÁCH ĐỔI
                                        TRẢ</a></li>

                                <li><a href="/pages/frontpage " title="THÔNG TIN LIÊN HỆ ">THÔNG TIN LIÊN HỆ</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 order-lg-1 ">
                        <div class="footer-block ">
                            <div class="footer-title ">
                                <h4>THEO DÕI BAD HABITS® TẠI:</h4>
                            </div>
                            <!-- <div class="footer-content ">
                                <ul class="social-list ">
                                    <li class="item fade-box ">
                                        <a href="https://www.instagram.com/badhabitsstore.vn/ " target="_blank "
                                            rel="nofollow ">
                                            <svg xmlns="http://www.w3.org/2000/svg " version="1.1 "
                                                xmlns:xlink="http://www.w3.org/1999/xlink "
                                                xmlns:svgjs="http://svgjs.com/svgjs " width="25 " height="25 " x="0 "
                                                y="0 " viewBox="0 0 409.61 409.61 " style="enable-background:new 0 0
                        512 512 " xml:space="preserve " class=" ">
                                                <g xmlns="http://www.w3.org/2000/svg ">
                                                    <g>
                                                        <path
                                                            d="M307.205,0h-204.8C46.09,0,0.005,46.085,0.005,102.4v204.81c0,56.3,46.085,102.4,102.4,102.4h204.8 c56.315,0,102.4-46.1,102.4-102.4V102.4C409.605,46.085,363.52,0,307.205,0z
                        M375.47,307.21c0,37.632-30.612,68.265-68.265,68.265 h-204.8c-37.637,0-68.265-30.633-68.265-68.265V102.4c0-37.642,30.628-68.265,68.265-68.265h204.8 c37.653,0,68.265,30.623,68.265,68.265V307.21z "
                                                            fill="#ffffff " data-original="#000000
                        " class=" "></path>
                                                    </g>
                                                </g>
                                                <g xmlns="http://www.w3.org/2000/svg ">
                                                    <g>
                                                        <circle cx="315.755 " cy="93.865 " r="25.6 " fill="#ffffff "
                                                            data-original="#000000 " class=" "></circle>
                                                    </g>
                                                </g>
                                                <g xmlns="http://www.w3.org/2000/svg ">
                                                    <g>
                                                        <path
                                                            d="M204.805,102.4c-56.566,0-102.4,45.839-102.4,102.4c0,56.54,45.834,102.41,102.4,102.41c56.55,0,102.4-45.87,102.4-102.41
                        C307.205,148.239,261.355,102.4,204.805,102.4z M204.805,273.075c-37.699,0-68.265-30.566-68.265-68.275 s30.566-68.265,68.265-68.265s68.265,30.556,68.265,68.265S242.504,273.075,204.805,273.075z "
                                                            fill="#ffffff " data-original="#000000
                        " class=" "></path>
                                                    </g>
                                                </g>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="item fade-box ">
                                        <a href="https://www.facebook.com/badhabitsstore " target="_blank "
                                            rel="nofollow ">
                                            <svg xmlns="http://www.w3.org/2000/svg " version="1.1 "
                                                xmlns:xlink="http://www.w3.org/1999/xlink "
                                                xmlns:svgjs="http://svgjs.com/svgjs " width="25 " height="25 " x="0 "
                                                y="0 " viewBox="0 0 24 24 " style="enable-background:new 0 0 512 512
                        " xml:space="preserve " class=" ">
                                                <g>
                                                    <path xmlns="http://www.w3.org/2000/svg " d="m15.997 3.985h2.191v-3.816c-.378-.052-1.678-.169-3.192-.169-3.159 0-5.323 1.987-5.323 5.639v3.361h-3.486v4.266h3.486v10.734h4.274v-10.733h3.345l.531-4.266h-3.877v-2.939c.001-1.233.333-2.077
                        2.051-2.077z " fill="#ffffff " data-original="#000000 "></path>
                                                </g>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="item fade-box ">
                                        <a href="https://www.tiktok.com/@doublebadstudio " target="_blank "
                                            rel="nofollow ">
                                            <svg xmlns="http://www.w3.org/2000/svg " version="1.1 "
                                                xmlns:xlink="http://www.w3.org/1999/xlink "
                                                xmlns:svgjs="http://svgjs.com/svgjs " width="25 " height="25 " x="0 "
                                                y="0 " viewBox="0 0 512 512 " style="enable-background:new 0 0 512 512
                        " xml:space="preserve " class=" ">
                                                <g>
                                                    <g xmlns="http://www.w3.org/2000/svg ">
                                                        <path
                                                            d="m480.32 128.39c-29.22 0-56.18-9.68-77.83-26.01-24.83-18.72-42.67-46.18-48.97-77.83-1.56-7.82-2.4-15.89-2.48-24.16h-83.47v228.08l-.1 124.93c0 33.4-21.75 61.72-51.9
                        71.68-8.75 2.89-18.2 4.26-28.04 3.72-12.56-.69-24.33-4.48-34.56-10.6-21.77-13.02-36.53-36.64-36.93-63.66-.63-42.23 33.51-76.66 75.71-76.66 8.33 0 16.33 1.36 23.82 3.83v-62.34-22.41c-7.9-1.17-15.94-1.78-24.07-1.78-46.19 0-89.39 19.2-120.27
                        53.79-23.34 26.14-37.34 59.49-39.5 94.46-2.83 45.94 13.98 89.61 46.58 121.83 4.79 4.73 9.82 9.12 15.08 13.17 27.95 21.51 62.12 33.17 98.11 33.17 8.13 0 16.17-.6 24.07-1.77 33.62-4.98 64.64-20.37 89.12-44.57 30.08-29.73 46.7-69.2 46.88-111.21l-.43-186.56c14.35
                        11.07 30.04 20.23 46.88 27.34 26.19 11.05 53.96 16.65 82.54 16.64v-60.61-22.49c.02.02-.22.02-.24.02z "
                                                            fill="#ffffff " data-original="#000000 " class=" "></path>
                                                    </g>
                                                </g>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="item fade-box ">
                                        <a href="https://www.youtube.com/c/BADHABITSSTORE/featured " target="_blank "
                                            rel="nofollow ">
                                            <svg xmlns="http://www.w3.org/2000/svg " version="1.1 "
                                                xmlns:xlink="http://www.w3.org/1999/xlink "
                                                xmlns:svgjs="http://svgjs.com/svgjs " width="25 " height="25 " x="0 "
                                                y="0 " viewBox="0 0 409.592 409.592 " style="enable-background:new 0
                        0 512 512 " xml:space="preserve " class=" ">
                                                <g xmlns="http://www.w3.org/2000/svg ">
                                                    <g>
                                                        <path
                                                            d="M403.882,107.206c-2.15-17.935-19.052-35.133-36.736-37.437c-107.837-13.399-216.883-13.399-324.685,0 C24.762,72.068,7.86,89.271,5.71,107.206c-7.613,65.731-7.613,129.464,0,195.18c2.15,17.935,19.052,35.149,36.751,37.437
                        c107.802,13.399,216.852,13.399,324.685,0c17.684-2.284,34.586-19.502,36.736-37.437 C411.496,236.676,411.496,172.937,403.882,107.206z M170.661,273.074V136.539l102.4,68.27L170.661,273.074z "
                                                            fill="#ffffff " data-original="#000000
                        " class=" "></path>
                                                    </g>
                                                </g>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                            </div> -->
                        </div>
                        <div class="footer-block ">
                            <div class="footer-title ">
                                <h4>ĐĂNG KÝ ĐỂ NHẬN NHIỀU ƯU ĐÃI</h4>
                            </div>
                            <!-- <div class="footer-content ">
                                <div class="form_newsletter form_newsletter_customer ">
                                    <form accept-charset='UTF-8' action='/account/contact' class='contact-form'
                                        method='post'>
                                        <input name='form_type' type='hidden' value='customer'>
                                        <input name='utf8' type='hidden' value='✓'>
                                        <div class="input-group ">
                                            <input type="hidden " id="newsletter-tags " name="contact[tags] "
                                                value="khách hàng tiềm năng, bản tin " />
                                            <input required type="email " id="newsletter-email "
                                                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$ " value=" "
                                                placeholder="Email address " name="contact[email] "
                                                aria-label="Email Address ">
                                            <button type="submit " class="button dark ">Đăng ký</button>
                                        </div>
                                        <div class="sitebox-recaptcha d-none ">
                                            This site is protected by reCAPTCHA and the Google
                                            <a href="https://policies.google.com/privacy " target="_blank "
                                                rel="noreferrer ">Privacy Policy</a>
                                            and <a href="https://policies.google.com/terms " target="_blank "
                                                rel="noreferrer ">Terms of Service</a> apply.
                                        </div>


                                        <input id='34d2fdb7a7214545a2dcb7a15fc9d925' name='g-recaptcha-response'
                                            type='hidden'><noscript
                                            src='https://www.google.com/recaptcha/api.js?render=6LdD18MUAAAAAHqKl3Avv8W-tREL6LangePxQLM-'></noscript><noscript>grecaptcha.ready(function()
                                            {grecaptcha.execute('6LdD18MUAAAAAHqKl3Avv8W-tREL6LangePxQLM-', {action:
                                            'submit'}).then(function(token)
                                            {document.getElementById('34d2fdb7a7214545a2dcb7a15fc9d925').value =
                                            token;});});</noscript>
                                    </form>
                                </div>
                            </div> -->
                        </div>
                        <div class="hotline "><b>HOTLINE: <a href="tel:0902638020 ">0902.638.020</a> - <a
                                    href="tel:0931610291 ">0931.610.291</a></b></div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 order-lg-2 ">

                        <div class="footer-block ">
                            <div class="footer-title ">
                                <h4>CHI NHÁNH CỬA HÀNG:</h4>
                            </div>
                            <div class="footer-content ">
                                <ul class="address-list ">
                                    <li><b>SÀI GÒN</b></li>
                                    <li>1. 93 Rạch Bùng Binh,Phường 9, Quận 3</li>
                                    <li>2. 117 Trần Đình Xu, phường Nguyễn Cư Trinh, Quận 1 </li>

                                    <li>3. 57 Nguyễn Gia Trí phường 25, quận Bình Thạnh</li>
                                    <li>4. 26 Lý Tự Trọng, Phường Bến Nghé, Quận 1</li>


                                    <li><b>HÀ NỘI</b></li>
                                    <li>5. 21B Phố Lò Đúc, Phường Ngô Thì Nhậm, Quận Hai Bà Trưng, Hà Nội</li>


                                    <li><b>CẦN THƠ</b></li>
                                    <li>6. 7 Trần Văn Hoài, Phường Xuân Khánh, Quận Ninh Kiều, Cần Thơ</li>
                                </ul>

                                <p class="copyright "> © 2023 <a href="https://badhabitsstore.vn "> Bad Habits Official
                                        Store</a> all right reserved.</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</div>