<app-header></app-header>
<div class="header-banner" style="display: flex; width: fit-content; height: fit-content;">
    <img src="
    https://file.hstatic.net/1000351433/file/1920_x_1200_90f6ea77fdc8419e8c18321ac3ecea7d.jpg"
        style="max-width: 100%; max-height: 100%;">
</div>
<!-- <app-nav></app-nav> -->
<!-- <div class="header-bot-bar"
        style="display: flex; flex-direction: row;height: 100px; justify-content: space-around; font-weight: bold;">
        <div style="max-width: 20%;">
            <span href="/collections/best-seller ">BEST SELLER</span>
        </div>
        <div style="max-width: 20%; border: 2px;" class="parent-list-menu-product">
            <span href="/collection ">SẢN PHẨM
                <div style="display: flex; width: fit-content; height: fit-content;">
                    <ul class="list-menu-product" style="border-radius: 4px;z-index: 10;border: 2px;">
                        <li class=" ">
                            <span>TẤT CẢ SẢN PHẨM</span>
                        </li>
                        <li class=" ">
                            <span>ÁO THUN</span>
                        </li>
                        <li class=" ">
                            <span>ÁO SƠMI</span>
                        </li>
                        <li class=" ">
                            <span>ÁO KHOÁC</span>
                        </li>
                        <li class=" ">
                            <span>QUẦN</span>
                        </li>
                        <li class=" ">
                            <span>PHỤ KIỆN</span>
                        </li>
                    </ul>
                </div>
            </span>
        </div>
        <div style="max-width: 20%; border: 2px;" class="parent-list-menu-product">
            <span href="/collections/stepout-collection ">BỘ SƯU TẬP
                <div style="display: flex; width: fit-content; height: fit-content;">
                    <ul class="list-menu-product" style="border-radius: 4px;z-index: 10;border: 2px;">
                        <li class=" ">
                            <span>BỘ SƯU TẬP BASIC</span>
                        </li>
                        <li class=" ">
                            <span>BỘ SƯU TẬP LUCKY YEAR</span>
                        </li>
                        <li class=" ">
                            <span>BỘ SƯU TẬP #STEPOUT</span>
                        </li>
                        <li class=" ">
                            <span>BỘ SƯU TẬP REMAKE</span>
                        </li>
                        <li class=" ">
                            <span>BỘ SƯU TẬP NỮ</span>
                        </li>

                    </ul>
                </div>
            </span>
        </div>
        <div style="max-width: 20%;">
            <span href="/pages/danh-sach-outfit ">MAKE YOUR STYLE</span>
        </div>
        <div style="max-width: 20%;">
            <span href="/collections/sale-end-season ">OUTLET SALE</span>
        </div>
    </div> -->



    <div class="main" style="display: flex; width: fit-content; height: fit-content;">

        <div class="header-banner" style="text-align: center;">
            <img src="https://file.hstatic.net/1000351433/file/bad_welcome_3eb6f344cd464c1f8783c0d4cf3a6881.jpg"
                style="max-width: 90%; max-height: 90%; ">
        </div>
    </div>
    <div class="list-banner w-60 section-bg-scroll one" style="display: flex;">
        <div class="coll-banner left " style="max-width: 50%;padding-left: 20%;margin-top:8%;margin-bottom: 8%;">
            <div class="banner first" style="position:relative">
                <a href="/collection " class="aspect-ratio ">
                    <img class="image--fade-in "
                        src="https://file.hstatic.net/1000351433/file/vuong_2_bb2b2b8aa0ea468d8e7e2536953a66cc.png"
                        alt=" " style="max-width: 80%;">
                    <div class="image--cap"
                        style="position:absolute;width:85%;height:100%;color:white;font-weight: bold;">
                        <p>MOST WANTED</p>
                    </div>
                </a>
            </div>
            <div class="banner " style="position:relative;margin-top:5%">
                <a href="/collection " class="aspect-ratio ">
                    <img class="image--fade-in "
                        src="https://file.hstatic.net/1000351433/file/vuong_1_4435f62d0e4744eea32fa306afe9c12d.png"
                        alt=" " style="max-width: 80%;">
                    <div class="image--cap"
                        style="position:absolute;width:85%;height:100%;color:white;font-weight: bold;">
                        <p>NEW ARRIVAL</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="coll-banner right"
            style="max-width: 50%;padding-left: 46px;margin-top:8%;margin-bottom: 8%;position:relative">
            <div class="banner">
                <a href="/collection" class="aspect-ratio ">
                    <img class="image--fade-in "
                        src="https://file.hstatic.net/1000351433/file/doc_f885cfaf2fb54589a49f993ecaf6ce4d.png"
                        alt="CONCEPT " style="max-width: 50%;max-height: 100%;">
                    <div class="image--cap"
                        style="position:absolute;width:50%;height:100%;color:white;font-weight: bold;">
                        <p>CONCEPT</p>
                    </div>
                </a>
            </div>
        </div>

    </div>
    <div class="row " style="margin-left: 20%;margin-right: 20%; margin-bottom: 5%;">
        <div class="col-12 col-sm-6 col-lg-6 col-xl-6 " style="margin-top: 3%;">
            <div class="banner " style="position:relative">
                <a href="/collection" class="aspect-ratio ">
                    <img class=" image--fade-in "
                        src="https://file.hstatic.net/1000351433/file/1_0847b4b2f2474940a893e027baf28f9f.png "
                        alt="BASIC COLLECTION " style="max-width: 100%;">
                    <div class="image--cap "
                        style="position: absolute; color: white; font-weight: bold; width: 110%; height: 95%;">
                        <p>BASIC COLLECTION</p>
                    </div>
                </a>

            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-6 col-xl-6 " style="margin-top: 3%;">
            <div class="banner " style="position:relative">

                <a href="/collection" class="aspect-ratio ">
                    <img class="image--fade-in "
                        src="https://file.hstatic.net/1000351433/file/2_041897f230494ffd9bb7cc142c581057.png "
                        alt="BASIC COLLECTION " style="max-width: 100%; ">
                    <div class="image--cap "
                        style="position: absolute; color: white; font-weight: bold; width: 100%; height: 95%;">
                        <p>BASIC COLLECTION</p>
                    </div>
                </a>

            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-6 col-xl-6 " style="margin-top: 3%;">
            <div class="banner " style="position:relative">

                <a href="/collection" class="aspect-ratio ">
                    <img class="image--fade-in "
                        src="https://file.hstatic.net/1000351433/file/3_7f1b0dc5df624b31a527a04993e4222b.png "
                        alt="BASIC COLLECTION " style="max-width: 100%;">
                    <div class="image--cap "
                        style="position: absolute; color: white; font-weight: bold; width: 110%; height: 95%;">
                        <p>BASIC COLLECTION</p>
                    </div>
                </a>

            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-6 col-xl-6 " style="margin-top: 3%;">
            <div class="banner " style="position:relative">

                <a href="/collection" class="aspect-ratio ">
                    <img class="image--fade-in "
                        src="https://file.hstatic.net/1000351433/file/6_fab8c3692f804893aec0adb171258775.png "
                        alt="BASIC COLLECTION " style="max-width: 100%;">
                    <div class="image--cap "
                        style="position: absolute; color: white; font-weight: bold; width: 95%; height: 100%;">
                        <p>BASIC COLLECTION</p>
                    </div>
                </a>

            </div>
        </div>
    </div>

    <div class="list-banner w-85 section-bg-scroll two  " style="display: flex;">
        <div class="coll-banner left "
            style="max-width: 50%;padding-left: 10%;margin-top:8%;margin-bottom: 8%;position:relative">
            <div class="banner ">
                <a href="/collection" class="aspect-ratio ">
                    <img class=" image--fade-in "
                        src="https://file.hstatic.net/1000351433/file/a__2__8995985b96e648e497ec8c1186c1d86f.png "
                        alt="LUCKY YEAR COLLECTION " style="max-width: 82%; ">
                    <div class="image--cap "
                        style="position: absolute; color: white; font-weight: bold; width: 70%; height: 95%;">
                        <p>LUCKY YEAR COLLECTION</p>
                    </div>
                </a>

            </div>
        </div>
        <div class="coll-banner right "
            style="max-width: 50%;padding-left: 46px;margin-top:8%;margin-bottom: 8%;position:relative">
            <div class="banner ">
                <a href="/collection" class="aspect-ratio ">
                    <img class=" image--fade-in "
                        src="https://file.hstatic.net/1000351433/file/a__1__47f34ce7550044e1821431bb4b34a4e0.png "
                        alt="LUCKY YEAR COLLECTION " style="max-width: 70%; max-height: 30%;">
                    <div class="image--cap "
                        style="position:absolute;width:70%;height:95%;color:white;font-weight: bold;">
                        <p>LUCKY YEAR COLLECTION</p>
                    </div>
                </a>

            </div>
        </div>
    </div>
    <div class="banner" style="display: flex; width: fit-content; height: fit-content;text-align: center;">
        <a>
            <img src="https://file.hstatic.net/1000351433/file/untitled-1_62605bc5bf5040cb8c99b33aac0fee29.jpg"
                style="max-width: 90%;" />
        </a>
    </div>
    <div class="banner"
        style="display: flex; width: fit-content; height: fit-content;text-align: center;margin-bottom: 10px;">
        <a>
            <img src="https://file.hstatic.net/1000351433/file/z3600151745013_94b5d970a1df1ba827fd4ea7e7d7058f_225027ccd093474b89630a64b7282558.jpg"
                style="max-width: 100%;" />
        </a>
    </div>

    <app-footer></app-footer>