<div appBsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
                <div class="modal-body modal-body-master">
                    <div class="form-group form-group-master form-md-line-input form-md-floating-label no-hint input-bottom-form">
                        <div class="row mb-2">
                            <div class="col-4">
                                <label class="label-text" for="name">Mã sản phẩm</label>
                                <input type="text" class="input-text" pInputText [(ngModel)]="product.name" />
                            </div>
                        </div>
                        <div class="row">
                        </div>
                </div>
                <div class="modal-footer modal-footer-master">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">Huỷ</button>
                    <button type="button" (click)="save()" class="btn btn-primary">Lưu</button>
                </div>
            </div>
    </div>
</div>
</div>