<div appBsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body modal-body-master">
                <div
                    class="form-group form-group-master form-md-line-input form-md-floating-label no-hint input-bottom-form">
                    <div class="row mb-4">
                        <div class="col-4">
                            <label class="label-text" for="name">Mã hóa đơn</label>
                            <input type="text" class="input-text" pInputText [(ngModel)]="receiveOrder.code" placeholder="Mã sản phẩm"/>
                        </div>
                        <div class="col-4">
                            <label class="label-text" for="name">Nhà cung cấp</label>
                            <input type="text" class="input-text" pInputText [(ngModel)]="receiveOrder.supplier" placeholder="Nhà cung cấp"/>
                        </div>
                        <div class="col-md-4">
                            <label class="label-text">Ngày nhận đơn</label>
                            <p-calendar value="receiveOrder.receivedDate" [(ngModel)]="receiveOrder.receivedDate" [showIcon]="true" ></p-calendar>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label class="label-text">Người nhận</label>
                            <input type="text" class="input-text" pInputText [(ngModel)]="receiveOrder.receiver" placeholder="Người nhận"/>
                        </div>
                        <div class="col-4">
                            <label class="label-text">Mô tả</label>
                            <input type="text" class="input-text" pInputText [(ngModel)]="receiveOrder.description" placeholder="Mô tả"/>
                        </div>
                        <div class="col-md-4">
                            <label class="label-text">Trạng thái</label>
                            <p-dropdown [options]="listStatus" [(ngModel)]="receiveOrder.status"
                                [style]="{'height':'29px','width':'100%'}" optionLabel="code"
                                optionValue="value"></p-dropdown>
                        </div>
                    </div>
                </div>
                <div class="modal-footer modal-footer-master">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">Huỷ</button>
                    <button type="button" (click)="save()" class="btn btn-primary">Lưu</button>
                </div>
            </div>
        </div>
    </div>
</div>