<div appBsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body modal-body-master">
                <p class="ml-2 mb-4 title">
                    Chi tiết sản phẩm
                </p>  
                <div class="">
                    <div class="row mb-4" >
                        <div class="col-md-6 d-flex flex-column">
                            <label class="label-text mb-1" for="name">Mã sản phẩm</label>
                            <input type="text" class="input-text disabled" disabled="true" pInputText [(ngModel)]="product" />
                        </div>
                        <div class="col-md-6 d-flex flex-column">
                            <label class="label-text mb-1" for="category">Tên sản phẩm</label>
                            <input type="text" class="input-text disabled" disabled="true" pInputText [(ngModel)]="product" />
                        </div>
                    </div>
                    <div class="row mt-4 mb-3 d-flex justify-content-between">
                        <div class="col-md-6">
                            <label class="label-text">Size</label>
                            <input type="number" class="input-text" pInputText />
                        </div>
                        <div class="col-md-6">
                            <label class="label-text">Số lượng</label>
                            <input type="number" class="input-text" pInputText />
                        </div>
                    </div>
                    <div class="row d-flex justify-content-between">
                        <div class="col-md-6">
                            <label class="label-text">Đơn giá</label>
                            <input type="number" class="input-text" pInputText/>
                        </div>
                        <div class="col-md-6">
                            <label class="label-text">Mô tả</label>
                            <input type="text" class="input-text" pInputText/>
                        </div>
                    </div>
            <div class="modal-footer modal-footer-master">
                <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">Hủy</button>
                <button type="button" (click)="save()" class="btn btn-primary">Lưu</button>
            </div>
        </div>
    </div>
</div>
</div>