<div>
    <div>
        <div>
            <div>
                <div
                    class="form-group form-group-master form-md-line-input form-md-floating-label no-hint input-bottom-form">
                    <div class="row mb-4">
                        <div class="col-4">
                            <label class="label-text" for="name">Mã sản phẩm</label>
                            <input type="text" class="input-text" pInputText [(ngModel)]="product.name" />
                        </div>
                        <div class="col-4">
                            <label class="label-text" for="name">Tên sản phẩm</label>
                            <input type="text" class="input-text" pInputText [(ngModel)]="product.name" />
                        </div>
                        <div class="col-md-4">
                            <label class="label-text">Loại sản phẩm</label>
                            <p-dropdown [options]="listTypeProduct" [(ngModel)]="product.productType"
                                [style]="{'height':'29px','width':'100%'}" optionLabel="name"
                                optionValue="value"></p-dropdown>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label class="label-text">Giá</label>
                            <input type="number" class="input-text" pInputText [(ngModel)]="product.price" />
                        </div>
                        <div class="col-4">
                            <label class="label-text">Mô tả</label>
                            <input type="text" class="input-text" pInputText [(ngModel)]="product.description" />
                        </div>
                        <div class="col-md-4">
                            <label class="label-text">Trạng thái</label>
                            <p-dropdown [options]="listStatus" [(ngModel)]="product.status"
                                [style]="{'height':'29px','width':'100%'}" optionLabel="code"
                                optionValue="value"></p-dropdown>
                        </div>
                    </div>
                </div>
                <div class="modal-footer modal-footer-master">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">Huỷ</button>
                    <button type="button" (click)="save()" class="btn btn-primary">Lưu</button>
                </div>
            </div>
        </div>
    </div>
</div>