.title-cart-empty{
    font-weight: bold;
    font-size: 25px;
    display: flex;
    justify-content: center;
}
.cart{
    display: flex;
    justify-content: center;
    font-family: "Cousine Regular", sans-serif !important;
}