.title-cart-empty{
    font-weight: bold;
    font-size: 25px;
    display: flex;
    justify-content: center;
}
.cart{
    display: flex;
    justify-content: center;
    font-family: "Cousine Regular", sans-serif !important;
}
#layout-cart{
    margin:100px 0;
}
.sidebarCart-sticky{
    padding-left: 80px;
}
.btn-delete-product{
    border: none;
    background-color: transparent;
}