<div class="container1">
    <div class="block-button mb-3">
        <!-- <button class="btn btn-filter mr-2 btn-outline-primary"  (click)="viewDetailProduct()">Xem chi tiết</button> -->
		<button class="btn btn-add mr-2 btn-outline-primary"  (click)="createProduct()">Thêm</button>
		<button *ngIf="!filter" class="btn btn-filter mr-2 btn-outline-primary"  (click)="onFilterChange()">Hiện bộ lọc</button>
        <button *ngIf="filter"class="btn btn-filter mr-2 btn-outline-primary"  (click)="onFilterChange()">Ẩn bộ lọc</button>
        <!-- <button class="btn btn-add mr-2 btn-outline-primary"  (click)="createUsers()">Thêm</button> -->
        <!-- <button class="btn btn-add ml-2 btn-outline-primary" [disabled]="!selectedProduct" (click)="editUser()">Sửa</button> -->
        <!-- <button class="btn btn-add ml-2 btn-delete btn-outline-danger" [disabled]="!selectedProduct" (click)="deleteUser()">Xoá</button> -->
    </div>
    <div class="user">							
		<div class="row mb-2" *ngIf="filter">
			<div class="col-md-3">
				<p-dropdown [options]="listStatus"  [(ngModel)]="filterStatus" placeholder="Trạng thái" [style]="{'height':'29px','width':'100%'}" (onChange)="getProductData()" optionLabel="code" optionValue="value"></p-dropdown>
			</div>
		</div>
			<p class="mb-3 title">Danh sách sản phẩm</p>
        <p-table [value]="rows" scrollHeight="250px"  [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5,10,15,20]" [scrollable]="true"
					(onLazyLoad)="getProductData()" [tableStyle]="{'width': '100% -280px','font-size':'0.8rem'}" paginatorPosition="bottom"
			[columns]="colsProduct" selectionMode="single" [(selection)]="selectedProduct" (selectionChange)="onSelectionChange()"
			>
			<ng-template pTemplate="header" let-columns>
				<tr>
					<th>STT</th>
					<th *ngFor="let cols of columns">
						{{cols.header}}
					</th>
					<th> Thao tác</th>
				</tr>
			</ng-template>

			<ng-template pTemplate="body" let-rows let-rowIndex="rowIndex" let-columns="columns">
				<tr [pSelectableRow]="rows">
					<td>
						{{rowIndex+1}}
					</td>
					<td *ngFor="let cols of columns">
						{{rows[cols.field]}}
					</td>
					<td> 
						<button class="btn btn-add ml-2 btn-outline-primary"  (click)="editProduct(rows)">Sửa</button>
						<button class="btn btn-add ml-2 btn-delete btn-outline-danger" (click)="deleteUser(rows)">Xoá</button>
					</td>
				</tr>
			</ng-template>
		</p-table> 
		<div class="btn_add_detail_product d-flex justify-content-between mt-4 mb-2">
			<p class="mb-3 title">Chi tiết sản phẩm</p>
			<button class="btn btn-add mr-2 btn-outline-primary" *ngIf="selectedProduct?.id"  (click)="addDetailProduct(selectedProduct)">Thêm</button>
		</div>
        <p-table [value]="detailProduct"  [paginator]="true" [rowsPerPageOptions]="[5,10,15,20]"
					 [tableStyle]="{'width': '100% -280px','font-size':'0.8rem'}" paginatorPosition="bottom"
			[columns]="colsDetailProduct" selectionMode="single" [(selection)]="selectedDetailProduct"
			[rows]="5" >
			<ng-template pTemplate="header" let-columns>
				<tr>
					<th>STT</th>
					<th *ngFor="let cols of columns">
						{{cols.header}}
					</th>
					<th> Thao tác</th>
				</tr>
			</ng-template>

			<ng-template pTemplate="body" let-detailProduct let-columns="columns" let-rowIndex="rowIndex">
				<tr [pSelectableRow]="detailProduct">
					<td>
						{{rowIndex+1}}
					</td>
					<td *ngFor="let cols of columns">
						{{detailProduct[cols.field]}}
					</td>
					<td>
						<button class="btn btn-add ml-2 btn-outline-primary" [disabled]="!selectedProduct"  (click)="editDetailProduct(detailProduct)">Sửa</button>
						<button class="btn btn-add ml-2 btn-delete btn-outline-danger" [disabled]="!selectedProduct" (click)="deleteDetailProduct(detailProduct)">Xoá</button>
					</td>
				</tr>
			</ng-template>
		</p-table> 
</div>
<!-- <td>{{detailProduct}}</td> -->
<app-admin-view-detail-product #viewDetail></app-admin-view-detail-product>
<app-create-or-edit-product #createOrEdit (modalSave)="getProductData()"></app-create-or-edit-product>
<app-create-or-edit-detail-product #createOrEditDeatail (modalSave)="getDetailProductData()"></app-create-or-edit-detail-product>