.user{
    position: fixed;
    top:44px;
    left: 280px;
    width: calc(100% - 280px);
    display: flex;
    flex-direction: column;
    //align-items: flex-end;
}
.container1{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    position: relative;
}
.btn-add{
    width: 80px;
    padding: 5px 10px;
    color:white;
    // position: absolute;
    // right: 0;
    // top: 20px;
    z-index: 1;
    margin-left: 5px;
    right: 0;
}
.block-button{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 40px;
    width: 100%;
}