<app-header></app-header>
<app-nav></app-nav>
<div class="banner mt-5 mb-5">
    <img src="assets/banner.jpg" alt="" width="100%" height="auto" style="object-fit: cover;">
    <div class="block-product mt-5 container">
        <!-- <i class="fa-solid fa-caret-left icon-prev" (click)="translate(1)"></i> -->
        <div class="item-product">
            <img src="assets/banner.jpg" class="image-product mb-2" width="100%" height="auto" />
            <span class="name-product">SAND " KHÔ MÁU" SHIRT</span>
            <p class="price-product">500.000 VND</p>
        </div>
         <div class="item-product">
            <img src="assets/banner.jpg" class="image-product mb-2" width="100%" height="auto" />
            <span class="name-product">SAND " KHÔ MÁU" SHIRT</span>
            <p class="price-product">500.000 VND</p>
        </div>
         <div class="item-product">
            <img src="assets/banner.jpg" class="image-product mb-2" width="100%" height="auto" />
            <span class="name-product">SAND " KHÔ MÁU" SHIRT</span>
            <p class="price-product">500.000 VND</p>
        </div>
         <div class="item-product">
            <img src="assets/banner.jpg" class="image-product mb-2" width="100%" height="auto" />
            <span class="name-product">SAND " KHÔ MÁU" SHIRT</span>
            <p class="price-product">500.000 VND</p>
        </div>
          <div class="item-product">
            <img src="assets/banner.jpg" class="image-product mb-2" width="100%" height="auto" />
            <span class="name-product">SAND " KHÔ MÁU" SHIRT</span>
            <p class="price-product">500.000 VND</p>
        </div>
          <div class="item-product">
            <img src="assets/banner.jpg" class="image-product mb-2" width="100%" height="auto" />
            <span class="name-product">SAND " KHÔ MÁU" SHIRT</span>
            <p class="price-product">500.000 VND</p>
        </div>
         <div class="item-product">
            <img src="assets/banner.jpg" class="image-product mb-2" width="100%" height="auto" />
            <span class="name-product">SAND " KHÔ MÁU" SHIRT</span>
            <p class="price-product">500.000 VND</p>
        </div>
         <div class="item-product">
            <img src="assets/banner.jpg" class="image-product mb-2" width="100%" height="auto" />
            <span class="name-product">SAND " KHÔ MÁU" SHIRT</span>
            <p class="price-product">500.000 VND</p>
        </div>
          <div class="item-product">
            <img src="assets/banner.jpg" class="image-product mb-2" width="100%" height="auto" />
            <span class="name-product">SAND " KHÔ MÁU" SHIRT</span>
            <p class="price-product">500.000 VND</p>
        </div>
        <!-- <i class="fa-solid fa-caret-right icon-next" (click)="translate(1)"></i> -->
    </div>
</div>