<div appBsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body modal-body-master">
                <p class="ml-2 mb-4 title">
                    Chi tiết sản phẩm
                </p>  
                <div class="">
                    <div class="row mb-4">
                        <div class="col-md-4 d-flex flex-column">
                            <label class="label-text mb-1" for="name">Mã sản phẩm</label>
                            <input type="text" class="input-text disabled" disabled="true" pInputText [(ngModel)]="productName" />
                        </div>
                        <div class="col-md-4 d-flex flex-column">
                            <label class="label-text mb-1" for="category">Tên sản phẩm</label>
                            <input type="text" class="input-text disabled" disabled="true" pInputText [(ngModel)]="productCode" />
                        </div>
                    </div>
                    <div class="row mt-4 mb-3">
                        <div class="col-md-4">
                            <input type="text" class="input-text" pInputText [(ngModel)]="productDetail.size" placeholder="Size"/>
                        </div>
                        <div class="col-md-4">
                            <input type="number" class="input-text" pInputText [(ngModel)]="productDetail.quantity" placeholder="Số lượng"/>
                        </div>
                        <div class="col-md-4 d-flex flex-column">
                            <input type="text" class="input-text" pInputText [(ngModel)]="productDetail.description" placeholder="Mô tả"/>
                        </div>
                    </div>
            <div class="modal-footer modal-footer-master">
                <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">Hủy</button>
                <button type="button" (click)="save()" class="btn btn-primary">Lưu</button>
            </div>
        </div>
    </div>
</div>
</div>