<div>
    <p-toast></p-toast>
    <ng-container>
        <div class="row">
            <div class="col-4">
                <div class="field mb-">
                    <label class="mb-2" htmlFor="code">Mã bộ sưu tập<span class="required-field"> * </span> </label>
                    <input 
                        [(ngModel)]="collection.code" type="text" id="code" name="code" pInputText maxlength="256" 
                    />
                </div>
            </div>
            <div class="col-4">
                <div class="field mb-1">
                    <label class="mb-2" htmlFor="name">Tên bộ sưu tập<span class="required-field"> * </span> </label>
                    <input 
                        [(ngModel)]="collection.name" type="text" id="name" name="name" pInputText maxlength="256" 
                    />
                </div>
            </div>
            <div class="col-4">
                <div class="field mb-1">
                    <label class="mb-2" htmlFor="status">Trạng thái<span class="required-field"> * </span> </label>
                    <p-dropdown 
                        appendTo="body" optionValue="code" name="status" optionLabel="name"
                        [(ngModel)]="collection.status" [options]="statuses"
                        [style]="{'width':'100%'}">
                    </p-dropdown>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="field mb-1">
                    <label class="mb-2" htmlFor="description">Mô tả</label>
                    <textarea style="width: 100%; max-width: 100%;" rows="3" pInputTextarea [(ngModel)]="collection.description" name="description"></textarea>
                </div>
            </div>
        </div>

        <div *ngIf="collection.id">
        </div>
    </ng-container>
</div>

<div class="p-dialog-footer mt-4" style="width: 100%; position: fixed; left: 0; bottom: 0;">
    <button pButton pRipple label="Hủy" icon="pi pi-times" class="p-button-text p-button-sm p-confirm-dialog-reject mt-4"
        (click)="close()"></button>
    <button pButton pRipple [label]="'Lưu'" icon="pi pi-check"
        class="p-button-text p-button-success p-button-sm p-confirm-dialog-approve mt-4"  (click)="save()"></button>
</div>
