<div class="footer-top">
    <p class="note-footer text-center">"MOM SHOP DIGITAL RETAIL STORE"</p>
</div>
<div class="footer-bottom">
    <div class="container">
        <div class="row col-12 mt-5">
            <div class="col-4 d-flex justify-content-center">
                <div class="footer-block">
                    <h4>THEO DÕI MOM SHOP® TẠI:</h4>
                    <div class="footer-content">
                        <div class="social-list mb-5">
                            <div class="item-block">
                                <i class="fa-brands fa-square-instagram icon"></i>
                            </div>
                            <div class="item-block">
                                <i class="fa-brands fa-square-facebook icon"></i>
                            </div>
                            <div class="item-block">
                                <i class="fa-brands fa-tiktok icon"></i>
                            </div>
                            <div class="item-block">
                                <i class="fa-brands fa-youtube icon"></i>
                            </div>
                        </div>
                        <b>HOTLINE: 0902.638.020 - 0931.610.291</b>
                        <p class="description-shop mt-3">
                            <strong>HỘ KINH DOANH MOM SHOP</strong>
                            <br>
                            <strong>TRỤ SỞ KINH DOANH:</strong>57 NGUYỄN GIA TRÍ, PHƯỜNG 25, QUẬN BÌNH THẠNH
                            <br>
                            <strong>MÃ SỐ THUẾ:</strong> 4108046202 - NGÀY CẤP: 08/11/2022
                            <br>
                            <strong>NGƯỜI ĐẠI DIỆN:</strong> VÕ DUY KHA
                            <br>
                            <strong>EMAIL:</strong> SUPPORT@MOMSHOPO.COM
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-6 d-flex flex-column">
                <ul class="address-list">
                    <h4 class="mb-4">CHI NHÁNH CỬA HÀNG:</h4>
                        <p>SÀI GÒN</p>
                    <li>1. 93 Rạch Bùng Binh,Phường 9, Quận 3</li>
                    <li>2. 117 Trần Đình Xu, phường Nguyễn Cư Trinh, Quận 1</li>
                    <li>3. 57 Nguyễn Gia Trí phường 25, quận Bình Thạnh</li>
                    <li>4. 26 Lý Tự Trọng, Phường Bến Nghé, Quận 1</li>
                    <li>
                        <p>HÀ NỘI</p>
                    </li>
                    <li>5. 21B Phố Lò Đúc, Phường Ngô Thì Nhậm, Quận Hai Bà Trưng, Hà Nội</li>
                    <li>
                        <p>CẦN THƠ</p>
                    </li>
                    <li>6. 7 Trần Văn Hoài, Phường Xuân Khánh, Quận Ninh Kiều, Cần Thơ</li>
                    <p class="copyright mt-3"> © 2023 <a href="https://MomShop.vn"> Bad Habits Official Store</a> all right reserved.</p>
                </ul>
            </div>
            <div class="col-2 d-flex justify-content-center">
                <ul class="footer-menu">
								
                    <li class="item-menu-footer" (click)="routerLink(1)"><a title="ĐỔI TRẢ SẢN PHẨM">ĐỔI TRẢ SẢN PHẨM</a></li>
                    
                    <li class="item-menu-footer"  (click)="routerLink(2)"><a title="CHÍNH SÁCH ĐỔI TRẢ">CHÍNH SÁCH ĐỔI TRẢ</a></li>
                    
                    <li class="item-menu-footer" (click)="routerLink(3)"><a title="THÔNG TIN LIÊN HỆ">THÔNG TIN LIÊN HỆ</a></li>
                    
                    <li class="item-menu-footer"  (click)="routerLink(4)"><a title="CHÍNH SÁCH BẢO MẬT THÔNG TIN">CHÍNH SÁCH BẢO MẬT THÔNG TIN</a></li>
                    
                    <li class="item-menu-footer"  (click)="routerLink(5)"><a title="CHÍNH SÁCH BẢO MẬT THÔNG TIN THANH TOÁN">CHÍNH SÁCH BẢO MẬT THÔNG TIN THANH TOÁN</a></li>
                    
                    <li class="item-menu-footer" (click)="routerLink(6)"><a title="ĐIỀU KHOẢN GIAO DỊCH CHUNG">ĐIỀU KHOẢN GIAO DỊCH CHUNG</a></li>
                    
                    <li class="item-menu-footer" (click)="routerLink(7)"><a title="CHÍNH SÁCH VẬN CHUYỂN, GIAO HÀNG">CHÍNH SÁCH VẬN CHUYỂN, GIAO HÀNG</a></li>
                    
                </ul>
            </div>
        </div>
    </div>
</div>

