<div class="container1">
	<div class="user">
		<div class="row mb-3">
			<div class="col-md-3" *ngIf="filter"><input type="text" class="input-text" placeholder="Mã đơn hàng"
					pInputText [(ngModel)]="orderCode" /></div>
			<div class="col-md-3" *ngIf="filter"><input type="text" class="input-text" placeholder="Mã khách hàng"
					pInputText [(ngModel)]="pointEvaluate" /></div>
			<div class="col-md-2" *ngIf="filter">
				<div class="form-group">
					<p-dropdown [options]="listPoint" [(ngModel)]="selectedCity" placeholder="Số sao"
						[style]="{'height':'35px','width':'100%'}" optionLabel="name" optionValue="code"></p-dropdown>
				</div>
			</div>
			<div class="col-md-2" *ngIf="filter"></div>
			<div class="col-md-10" *ngIf="!filter"></div>
			<div class="col-md-2 d-flex justify-content-end">
				<button class="btn btn-outline-primary" *ngIf="!filter" (click)="onFilterChange()">Hiện bộ lọc</button>
				<button class="btn btn-outline-primary" *ngIf="filter" (click)="onFilterChange()">Ẩn bộ lọc</button>
			</div>
		</div>
		<div class="row">
			<p class="mb-2 title">Phản hồi người dùng</p>
			<p-table [value]="tableData" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5,10,15,20]"
				(onLazyLoad)="getAllCustomer()" [tableStyle]="{'width': '100% -280px','font-size':'0.8rem'}"
				paginatorPosition="bottom" [columns]="cols" selectionMode="single" [(selection)]="selectedRow"
				(selectionChange)="onSelectionChange($event)" [rows]="2">
				<ng-template pTemplate="header" let-columns>
					<tr>
						<th>STT</th>
						<th *ngFor="let cols of columns">
							{{cols.header}}
						</th>
					</tr>
				</ng-template>

				<ng-template pTemplate="body" let-tableData let-columns="columns" let-rowIndex="rowIndex">
					<tr [pSelectableRow]="tableData">
						<td>
							{{rowIndex+1}}
						</td>
						<td *ngFor="let cols of columns">
							{{tableData[cols.field]}}
						</td>
					</tr>
				</ng-template>
			</p-table>
		</div>
	</div>