<div class="navigation container mt-5">
	<ul class="list-nav">
		<li class="nav-item fw-bold">BEST SELLER</li>
		<li class="nav-item nav-product">
			<div class="block-nav">
				<span>SẢN PHẨM</span>
				<i class="icon-dropdown fa-solid fa-caret-down"></i> 
			</div>
			<ul class="sub-nav-product">
                 <li class="item-sub-nav">Áo thun</li>
				 <li class="item-sub-nav">Áo phông</li>
				 <li class="item-sub-nav">Áo sơ mi</li>
			</ul>
		</li>
		<li class="nav-item nav-collection">
			<div class="block-nav">
				<span>BỘ SƯU TẬP</span>
				<i class="icon-dropdown fa-solid fa-caret-down"></i>
			</div>
			<ul class="sub-nav-collection">
				<li class="item-sub-nav">Hàng mới</li>
				<li class="item-sub-nav">Áo phông</li>
				<li class="item-sub-nav">Áo sơ mi</li>
		   </ul>
		</li>
		<li class="nav-item fw-bold">BASIC LINE</li>
		<li class="nav-item fw-bold">MAKE YOUR STYLE</li>
		<li class="nav-item fw-bold">OUTLET SALE</li>
	</ul>
</div>