<div class="container">
    <div class="navigation">
        <ul class="header-list-lv1">
			<li data-target="#105435899" class=" ">
				<a href="/collections/best-seller">BEST SELLER</a>
			</li>
			<li data-target="#104657729" class=" has-pad hassub">
				<a href="/collections/hot-products">SẢN PHẨM</a>
				<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" x="0" y="0" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path xmlns="http://www.w3.org/2000/svg" d="m468.8 235.007-401.359-231.73a24.2 24.2 0 0 0 -12.087-3.285h-.07a24.247 24.247 0 0 0 -12.094 3.287 24 24 0 0 0 -12.11 20.992v463.456a24.186 24.186 0 0 0 36.36 20.994l401.36-231.731a24.238 24.238 0 0 0 0-41.983z" fill-rule="evenodd" fill="#000000" data-original="#000000" class=""></path></g></svg>
				<div id="104657729" class="header-list-lv2">
					<ul>
						<li class="">
							<a href="/collections/hot-products">TẤT CẢ SẢN PHẨM</a>
						</li>
						<li class="">
							<a href="/collections/tshirt">ÁO THUN</a>
						</li>
						<li class="">
							<a href="/collections/shirt">ÁO SƠMI</a>
						</li>
						<li class="">
							<a href="/collections/outerwear-habits">ÁO KHOÁC</a>
						</li>
						<li class="">
							<a href="/collections/short-pants-habits">QUẦN</a>
						</li>
						<li class="">
							<a href="/collections/accsessories-habits">PHỤ KIỆN</a>
						</li>
					</ul>
				</div>
			</li>
			<li data-target="#104657735" class=" has-pad hassub">
				<a href="/collections/stepout-collection">BỘ SƯU TẬP</a>
				<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" x="0" y="0" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path xmlns="http://www.w3.org/2000/svg" d="m468.8 235.007-401.359-231.73a24.2 24.2 0 0 0 -12.087-3.285h-.07a24.247 24.247 0 0 0 -12.094 3.287 24 24 0 0 0 -12.11 20.992v463.456a24.186 24.186 0 0 0 36.36 20.994l401.36-231.731a24.238 24.238 0 0 0 0-41.983z" fill-rule="evenodd" fill="#000000" data-original="#000000" class=""></path></g></svg>
				<div id="104657735" class="header-list-lv2 styled">
					<ul>
						<li class="">
							<a href="/collections/basic-collection">BỘ SƯU TẬP BASIC</a>
						</li>
						<li class="">
							<a href="/collections/lucky-year-collection">BỘ SƯU TẬP LUCKY YEAR</a>
						</li>
						<li class="">
							<a href="/collections/stepout-collection">BỘ SƯU TẬP #STEPOUT</a>
						</li>
						<li class="">
							<a href="/collections/remake-collection">BỘ SƯU TẬP REMAKE</a>
						</li>
						<li class="">
							<a href="/collections/first-ever-women-s-collection">BỘ SƯU TẬP NỮ</a>
						</li>
					</ul>
				</div>
			</li>
			<li data-target="#105435902" class=" ">
				<a href="/collections/basic-collection">BASIC LINE</a>
			</li>
			<li data-target="#104657740" class=" ">
				<a href="/pages/danh-sach-outfit">MAKE YOUR STYLE</a>
			</li>
			<li data-target="#104924055" class=" ">
				<a href="/collections/sale-end-season">OUTLET SALE</a>
			</li>
			<li data-target="#104663617" class=" ">
				<a href="https://badrabbitclub.vn/">BAD RABBIT CLUB®</a>
			</li>
		</ul>
    </div>
</div>
