.user{
    position: fixed;
    top:44px;
    left: 280px;
    width: calc(100% - 280px);
    display: flex;
    flex-direction: column;
    height: 600px;
    //align-items: flex-end;
}
.container1{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden
}
.btn-add{
    width: 80px;
    padding: 5px 10px;
    color:blue;
    // position: absolute;
    // right: 0;
    // top: 20px;
    //z-index: 1;
    margin-left: 5px;
    right: 0;
    cursor: pointer;
}
.btn-add:hover{
     //background-color: rgb(85, 85, 185);
     color:white
}
.btn-delete{
    color:red;
}
.btn-delete:hover {
    background-color: transparent;
    color:red
}
.btn-filter{
    padding: 5px 10px;
    margin-left: 5px;
}
.block-button{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 40px;
    width: 100%;
    position: fixed;
    top:0
}
// .btn-add:disabled{
//     background-color: gainsboro;
// }
p-table{
    height: 80%;
}
.filter{
    height: 20px;
}
.input-text{
    height: 30px;
}