<div appBsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
                <div class="modal-body modal-body-master">
                    <div class="form-group form-group-master form-md-line-input form-md-floating-label no-hint input-bottom-form">
                        <div class="row">
                            <div class="col-4">
                                <label class="label-text" for="name">Tên khách hàng</label>
                                <input type="text" class="input-text" pInputText [(ngModel)]="product.code" />
                            </div>
                            <div class="col-4">
                                <label class="label-text" for="category">Email</label>
                                <input type="text" class="input-text" pInputText [(ngModel)]="product.name" />
                            </div>
                            <div class="col-4">
                                <label class="label-text" for="quantity">Số điện thoại</label>
                                <input type="text" class="input-text" pInputText [(ngModel)]="product.status" />
                            </div>
                             <!-- <div class="col-4">
                                <label class="label-text" for="quantity">Địa chỉ</label>
                                <input type="text" class="input-text" pInputText [(ngModel)]="product.quantity" />
                            </div> -->
                            <!-- <p-dropdown [options]="cities" [(ngModel)]="active" optionLabel="name"></p-dropdown> -->

                            <!-- <input type="text" pInputText [(ngModel)]="name" /> -->
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <fieldset>
                                    <legend>Quan ao</legend>
                                </fieldset>
                            </div>
                        </div>
                </div>
                <div class="modal-footer modal-footer-master">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">Huỷ</button>
                    <button type="button" (click)="save()" class="btn btn-primary">Lưu</button>
                </div>
            </div>
    </div>
</div>
</div>