.icon-cart{
    font-size: 30px;
}
.title-cart-empty{
    font-weight: bold;
    font-size: 25px;
    display: flex;
    justify-content: center;
}
.cart{
    display: flex;
    justify-content: center;
    font-family: "Cousine Regular", sans-serif !important;
}
.title-cart{
    font-weight: bold;
    margin-bottom: 100px;
    margin-right: 30px;
}
.detail-cart{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.list-detail-product{
    width: 66%;
}
.header-table{
    border:2px solid black;
    height: 40px;
}
table{
    width: 100%;
}
.payment{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.button{
    background-color: black;
    color:white;
    border: none;
    padding:5px;
    border-radius: 3px;
}
.quantity-product{
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    width:35%;
    align-items: center;
    border: 1px solid black;
    width: 55%;
}
.text-quantity,.text-price{
    margin-bottom: 0;
}
.block-price{
   display: flex;
   justify-content: space-around;
   align-items:center;
   width: 100%;
   height: 100%;
   margin-top: 15px;
}
.text-price{
    vertical-align: middle;
}
.image-product{
    margin-right: 60px;
    margin-top: 10px;
}
table tr{
    margin-top: 10px;
    width: 100%;
}
.size-product{
    margin-bottom: 0;
    width: 26%;
}
.line-sperate{
    width: 150%;
    height: 3px;
    margin-left: 50px;
    margin-top: 50px;
   border-top: 1px solid rgba(0,0,0,.1);
    // border-color: #000;
    background: #000;

}