<!-- <app-header></app-header> -->
<div class="mb-5">
    <p *ngIf="!cart" class="title-cart-empty text-center mt-5">GIỎ HÀNG CỦA BẠN ĐANG TRỐNG</p>
     <div *ngIf="!cart" class="cart">
        <img style="width: 250px;" src="https://file.hstatic.net/1000351433/file/empty-cart_924e850940534647bace4fd790c132cf.svg">
     </div>
     <div class="container">
          <h3 class="title-cart float-end font-bold">GIỎ HÀNG</h3>
     </div>
     <div class="detail-cart container mt-4">
        <div class="list-detail-product">
            <table>
                <tr class="header-table">
                    <th style="width:60%;padding-left:100px">SẢN PHẨM</th>
                    <th style="width:20%">SỐ LƯỢNG</th>
                    <th style="width:20%;text-align: center;">GIÁ</th>
                </tr>
                <tr>
                    <td class="d-flex justify-content-center align-items-center">
                        <img class="image-product" src="assets/cat-1045782__340.jpg" width="100" height="100"/>
                        <p class="size-product">Bad OPS VEST Size M</p>
                    </td>
                    <td >
                        <div class="quantity-product">
                            <i class="fa-solid fa-plus" (click)="addQuantityProduct()"></i>
                            <p class="text-quantity">1</p>
                            <i class="fa-solid fa-minus" (click)="minusQuantityProduct()"></i>
                        </div>
                    </td>
                    <td>
                        <div class="block-price">
                            <p class="text-price">543534</p>
                            <i class="fa-solid fa-trash" (click)="deleteProduct()"></i>
                        </div>
                    </td>
                </tr>
                    <hr class="line-sperate">
            </table>
        </div>
        <div class="payment">
            <h3 class="title-payment">TỔNG HOÁ ĐƠN</h3>
            <h3 class="price-total mb-5">760000.0000000</h3>
             <button type="button" class="button mb-5">THANH TOÁN</button>
             <button type="button" (click)="backHome()" class="button keep-shopping">TIẾP TỤC MUA SẮM</button>
        </div>
     </div>
</div>

<!-- <app-footer></app-footer> -->
