.chevron::before {
    border-style: solid;
    border-width: 0.15em 0.15em 0 0;
    content: "";
    display: inline-block;
    height: 0.35em;
    left: 0.15em;
    position: relative;
    top: 0.3em;
    vertical-align: top;
    width: 0.35em;
  }
  .sidebar {
    position: fixed;
    left: 0;
    top: 0;
  
    height: 100vh;
  
    width: 280px;
    
  
    background: #1d1e2c;
    .header {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      height: 40px;
      background: black;
    }
    .title{
        color:gainsboro

    }
  
  }
  .item
  {
    list-style-type: none;
    color:white;
    height: 60px;
    width: 100%;
    padding-left: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  .item:hover{
    background-color: gray;
  }
  .item-menu{
   padding: 0;
   margin: 0;
   flex-direction: column;
   //display: flex;
  }
  