<div class="sidebar">
  <div class="header">
    <img src="assets/layout/images/MOMSHOP.png" alt="" width="80%" height="100%">
  </div>
  <div class="content">
    <p class="title">Menu</p>
    <ul class="item-menu d-flex">
      <li class="item"  routerLink="customer" routerLinkActive="active">1. Quản lý khách hàng</li>
      <li class="item" routerLink="product" routerLinkActive="active">2. Quản lý sản phẩm</li>
      <li class="item" routerLink="importProduct" routerLinkActive="active">3. Quản lý nhập hàng</li>
      <li class="item" routerLink="feedback" routerLinkActive="active">4. Quản lý phản hồi người dùng</li>
    </ul>
  </div>
</div>
<router-outlet></router-outlet> 

